<h2>Trouble shooting</h2>
<accordion close-others="true">
  <accordion-group heading="The plugin doesn't work on my system.">
   <p>If it doesn't work with the  Arduino IDE it won't work with the plugin. Can you compile in the Arduino IDE?</p>
   <p>Have you configured the plugin correctly?</p>
   <p>Have you installed in program files? The plugin does not support spaces in the path.</p>
   <p>Ask yourself: What doesn't work?</p>
  </accordion-group>
  <accordion-group heading="The serial (monitor) doesn't work on my system.">
   <p>In the newer versions of the plugin it should work.</p>
   For older versions verify serial communication is active.<br>
   Goto windows-&gt;preferences-&gt;Arduino-&gt;Arduino and check wether "Disable RX TX" is unchecked.<br>
   At the same location press the "test serial dll" button to verify there is a vallid dll for your OS.<br>
   If the RXTX dll is enabled and there is a valid rxtx dll found for your OS/Eclipse combination it works on 
    most OS's (<a href="https://github.com/jantje/arduino-eclipse-plugin/issues/7">there is a known issue in Linux flavours </a>)<br>
  </accordion-group>
  <accordion-group heading="On Linux I have no serial ports available.">
  <p>In the newer versions of the plugin it should work.</p>
  On some linux distro's the dll used will not find any serial ports.<br>
  To fix this add following line to your eclipse.ini after -vmargs<br>
  <pre>-Dgnu.io.rxtx.SerialPorts=/dev/ttyACM0:/dev/ttyACM1:/dev/ttyACM2:/dev/ttyACM3:/dev/ttyUSB0::/dev/ttyUSB1::/dev/ttyUSB2::/dev/ttyUSB3::/dev/ttyUSB4</pre><br>
  </accordion-group>
  <accordion-group heading="Test Serial dll fails.">
   <p>In the newer versions of the plugin this is no longer needed.</p>
   When I press the "test serial dll" I get a dialog box telling me it did not find a proper dll.<br>
   What is happening?<br>
   When you press the button the plugin tries to load the dll delivered with the Arduino IDE. If this dll does not load it tries to load a dll delivered with the plugin. 
   (note older versions worked the other way around)<br>
    Assuming Arduino IDE is working:<br>
   The Arduino dll is 32 bit so the Eclipse environment you run the plugin in is not. In other words: you are probably running 64 bit Eclipse and 
   there is no 64 bit RXTX dll delivered for your os with the plugin.<br>
   I would advice to try the 32 bit version of eclipse.
   If you are adventures you may go and look for a 64 bit RXTX dll for you OS. (If you find one please inform me and I may be able to add it to the plugin.)<br>
  </accordion-group>
  <accordion-group heading="How can I find out more of the problem at hand?">
   <p>Thanks for asking.</p>
   <p>It is always a good idea to find out more about the problem at hand.</p> 
   <p>There are actually 3  Eclipse views that can give you more feedback on the problem at hand.</p>
   <ul><li>The console view</li>
   <li>The problems view</li>
   <li>The errors view</li></ul>
   The console view gives you more information on the commands that are being run externally. 
   That is the compiler and avr dude. The commands should be nearly 100% the same as in the Arduino IDE (the order is not always relevant). 
   Differences I am aware of are 
   <ul><li>-D__IN_ECLIPSE__=1: that specifies you are in Eclipse(I'm considering to remove this)</li>
   <li>-Wall: stating that all warnings must be shown (the Arduino IDE does not show warnings)</li>
   <li>-x c++: An option I added to force *.pde and *.ino to be treated as C++ files (the latest versions of Arduino do this also)</ul> 
   The problems view gives an overview of the code problems and is probably not what you are looking for when you are reading this.<br><br>
   The error view gives you an overview of errors and warnings that happened in Eclipse and or its plugins.
   To show the errors window: select Window-&gt;show view -&gt; other-&gt;select general tab-&gt;error log.
   Look at the plugin column to see which plugin logged the warning. 
   I can only tell you more about the errors and warnings generated by it.baeyens.* plugins.
 
   <br><br>A final and most time consuming way to find the problem is to download the code from github. You can then compile and debug the code.<a name="spaces"></a>
  </accordion-group>
  <accordion-group heading="Can I use spaces?">
    The usage of spaces is known to give problems when used in<br>

     <ul  type=disc>
     <li >The Arduino Path.</li>
     <li >Project Names.</li>
     </ul>
  </accordion-group>
  <accordion-group heading="Eclipse tells me there are bugs in my code but it compiles ok.">
  <p>Eclipse compiles your code in 2 ways. Once when you request a build (when you press on the hammer or the verify icon) by the compiler and ones when you change code by the indexer.</p> 
  <p>The compiler is responsible for the build and the indexer is responsible for the editing experience.</p>

<p>The bugs (the red animals in the code) you see in the code can be found by any of the 2.</p>
<p>In older versions of Eclipse the indexer behaves weird and sometimes doesn't find declarations that it knows. In that case you have the bug icon without actually having a bug (in other words the code compiles ok but the indexer thinks it will not).</p>
<p>In Indigo the following actions can solve the serial problem. (note I have been thinking other solutions solved the problem)</p>
<br>Setting the preference windows-&gt;preferences-&gt;C/C++-&gt;indexer-&gt;Files to index upfront . Add arduino.h and or WProgram.h including the full path. With me it currently states &quot;D:/arduino-1.0.1/hardware/arduino/cores/arduino/Arduino.h,cstdarg, stdarg.h, stddef.h, sys/resource.h, ctime, sys/types.h, signal.h, cstdio&quot;.<br><br>

<p> In all cases the bugs can appear if you never compiled the code. There is also some delay for the indexer to find things.</p>
<p>When using ino files and no headers are included include "Arduino.h" to make them go away. This is caused by the solution used to support .ino files.</p>

  </accordion-group>
  <accordion-group heading="Where is the elf file?">
  <p>When you have compiled the sketch sometimes you can not see the elf file in eclipse. </p>
  This is a bug related to eclipse. If your project compiled fine refresh the project (press F5 when you have the project selected).<br>
  Now there should be a binaries folder in the root of your project containing the elf file.<br>
  Note that just like in the Arduino IDE there is no reason to &quot;see&quot; the elf file.
  
  </accordion-group>

  <accordion-group heading="I have modified my Arduino setup and...">
  <p>You are entitled to modify the Arduino IDE setup. But I'm not supporting this. If you know what you have been doing and you play a bit
with Eclipse you will find many ways to help you to solve your problem and probably more to make it worse.</p>

<br>To be frank: If you can change the Arduino IDE setup you are a big boy so you can deal with it, write a document about it and share it with the world.<br>
This way we all become smarter.<br>
  </accordion-group>
  <accordion-group heading="I can not cancel the upload to the Arduino board.">
  
Someone reported that pressing the cancel button during upload to Arduino locks the com port.  Even if the upload is not working.  To solve the lock problem in windows unplug the Arduino  -after all connections to the com port have been closed -from your pc and replug.<br>
  </accordion-group>
  <accordion-group heading="Deleting a library corrupts my project.">
  To help to fix this bug please vote at <a href="https://bugs.eclipse.org/bugs/show_bug.cgi?id=372807">bugzille CDT project</a> (You need an account -no charge)<br>
This problem should not occur in V2. <br>
<h3>To work around</h3>
Before you delete the library:  Right click the library. Select &quot;Resource configurations&quot;-&gt;exclude from build. Select all chackboxes (normally you only have release).
Select OK.<br>Now the library you want to delete will be the last entry in your project and is grayed out.
<br>You can safely delete it now.
<h3>To reproduce do the following:</h3>
Create a Arduino sketch project using the wizard.
<br>Look at the project properties. They should look like the image below<br>
<img alt="The include properties after project creation" src="http://iloapp.baeyens.it/data/_gallery//public/1/1328707813_resized.png"><br>
<img alt="The include properties after project creation" src="http://iloapp.baeyens.it/data/_gallery//public/1/1328707816_resized.png"/>
add a Arduino lirary to your Arduino sketch project.
Look at the project properties. They should look like the image below<br>
<img alt="The include properties after project creation" src="http://iloapp.baeyens.it/data/_gallery//public/1/1328707814_resized.png"><br>
<img alt="The include properties after project creation" src="http://iloapp.baeyens.it/data/_gallery//public/1/1328707817_resized.png"/>
Delete the Arduino Library
<br>The project properties should look like any of the 2 above but they look like
<img alt="The include properties after project creation" src="http://iloapp.baeyens.it/data/_gallery//public/1/1328707815_resized.png"/>
<img alt="The include properties after project creation" src="http://iloapp.baeyens.it/data/_gallery//public/1/1328707818_resized.png"/><br>

Note that the images above show it for &quot;GNU C&quot;  but the same counts for &quot;GNU C++&quot;. Also note this is a pre V2 setup. From V2 onwards some names are different.<br>
First deleting all the incorrect values and then setting the correct values back solves the issue.<br>
<br>
  </accordion-group>
  <accordion-group heading="The indexer states Serial does not exist.">
  This is actually the same problem as <a href="#bugs">Eclipse tells me there are bugs in my code but it compiles ok.</a><br>
<br>
  </accordion-group>
  <accordion-group heading="I can't download the plugin. Is your site down?">
  <p>update: When downloading the product: My web site provider stops downloads. Use a browser that restarts where it stopped downloading (like firefox or internet explorer not chrome)</p>
  As you are reading this: "obviously my site is not down". The download via Eclipse is standard HTTP just like this page is to the browser. If you can access this page you can download the plugin.<br>
If it doesn't work for you: "Convince yourself that you have a problem at your site you (and you alone) will need to fix it.".<br>
You can check the following:<br>
<ul><li>
Don't try to download the plugin with a browser. See the installation instructions on how to install the plugin.
</li><li>
Make sure you have followed the installation instruction <b>uncheck "group items by category"</b>.
</li><li>
Check whether you are downloading the latestversion. Believe me many people failed because they wanted to download an old version.
</li><li>
In eclipse: Goto windows-&gt;preferences-&gt;general-&gt;Network settings. Verify these are set OK.<br>
</li><li>
Check in your firewall whether java(w) is allowed to get onto the internet.<br>
</li><li>
Disable virus checkers and firewalls<br>
</li><li>
Ask a local network specialist to help you out.
</li><li>
Please do not contact me on this because I can't help you with local issues. 
I will not send zip files over to people who do not sponsor this project.</li></ul>
<br>
  </accordion-group>
  <accordion-group heading="On Mac I get the error &quot;serial port is in use&quot; when uploading.">
The upload will be successfull with Arduino IDE 1.0 and higher unless you are uploading to a mega.
Run following terminal commands to fix the problem:<br>
<br> $ sudo mkdir /var/lock
<br>$ sudo chmod 777 /var/lock<br>
for more info see <a href="http://www.arduino.cc/cgi-bin/yabb2/YaBB.pl?num=1211165807/6">http://www.arduino.cc/cgi-bin/yabb2/YaBB.pl?num=1211165807/6</a>
  </accordion-group>
  <accordion-group heading="How can I find the latest version when installing?">
  
To find the latest version when installing a Eclipse plugin. In the "install new software" dialog make sure 
<ul><li>
only the latest version is checked
</li><li>
Group items by category is not checked
</li><li>
hide items that are already installed is not checked
</li></ul>
Below is an example of the settings. 1.2.5.5 is probably not the latest version.<br>
<img alt="The settings to find the latestversion" src="http://iloapp.baeyens.it/data/_gallery//public/1/134852263644133400_resized.png?width=575&height=540">
  </accordion-group>
</accordion>
