<h2>Trouble shooting</h2>
<accordion close-others="true">
  <accordion-group heading="The plugin doesn't work on my system.">
  </accordion-group>
  <accordion-group heading="The serial (monitor) doesn't work on my system.">
  </accordion-group>
  <accordion-group heading="On Linux I have no serial ports available.">
  </accordion-group>
  <accordion-group heading="Test Serial dll fails.">
  </accordion-group>
  <accordion-group heading="How can I find out more of the problem at hand?">
  </accordion-group>
  <accordion-group heading="Where is the elf file?">
  </accordion-group>
  <accordion-group heading="There are errors and warnings in the Arduino library.">
  </accordion-group>
  <accordion-group heading="I have modified my Arduino setup and...">
  </accordion-group>
  <accordion-group heading="I can not cancel the upload to the Arduino board.">
  </accordion-group>
  <accordion-group heading="The library Wire does not compile.">
  </accordion-group>
  <accordion-group heading="Deleting a library corrupts my project.">
  </accordion-group>
  <accordion-group heading="The indexer states Serial does not exist.">
  </accordion-group>
  <accordion-group heading="I can't download the plugin. Is your site down?">
  </accordion-group>
  <accordion-group heading="On Mac I get the error &quot;serial port is in use&quot; when uploading.">
  </accordion-group>
  <accordion-group heading="How can I find the latest version when installing?">
  </accordion-group>
</accordion>

<!--







<h1>Trouble shooting</h1>

<a name="doesntwork"></a>
<h2>The plugin doesn't work on my system.</h2>
First of all the plugin only works on a limited amount of platforms. See the faq for which versions. If you do not use any of these
operating systems you are out of luck for this plugin.
<br>Secondly <br>
If it doesn't work with the  Arduino IDE it won't work with the plugin. Can you compile in the Arduino IDE?

<br>Thirdly<br>
there are plenty of settings that can be wrong. If it doesn''t work for you
install the Arduino IDE in a new folder; install eclipse in a new folder; use a
new workspace and reinstall the plugin. When doing so
make sure you do not use spaces in any names. <br>

This way it should work.
<a name="Serialdoesntwork"></a>
<h2>The Serial (monitor) doesn't work on my system.</h2>
Verify serial communication is active.<br>
Goto windows-&gt;preferences-&gt;Arduino-&gt;arduino and check wether "Disable RX TX" is unchecked.<br>
At the same location press the "test serial dll" button to verify there is a vallid dll for your OS.<br>
If the RXTX dll is enabled and there is a valid rxtx dll found for your OS/eclipse combination it works on 
most OS's (<a href="https://github.com/jantje/arduino-eclipse-plugin/issues/7">there is a known issue in Linux flavours </a>)<br>

<a name="LinuxNoSerialPorts"></a>
<h2>On Linux I have no Serial ports available.</h2>
On some linux distro's the dll used will not find any serial ports.<br>
To fix this add following line to your eclipse.ini after -vmargs<br>
<pre>-Dgnu.io.rxtx.SerialPorts=/dev/ttyACM0:/dev/ttyACM1:/dev/ttyACM2:/dev/ttyACM3:/dev/ttyUSB0::/dev/ttyUSB1::/dev/ttyUSB2::/dev/ttyUSB3::/dev/ttyUSB4</pre><br>

<a name="SerialDLLFails"></a>
<h2>Test Serial dll fails</h2>
When I press the "test serial dll" I get a dialog box telling me it did not find a proper dll.<br>
What is happening?<br>
When you press the button the plugin tries to load the dll delivered with the Arduino IDE. If this dll does not load it tries to load a dll delivered with the plugin. 
(note older versions worked the other way around)<br>
Assuming Arduino IDE is working:<br>
The Arduino dll is 32 bit so the eclipse environment you run the plugin in is not. In other words: you are probably running 64 bit eclipse and 
there is no 64 bit RXTX dll delivered for your os with the plugin.<br>
I would advice to try the 32 bit version of eclipse.
If you are adventures you may go and look for a 64 bit RXTX dll for you OS. (If you find one please inform me and I may be able to add it to the plugin.)<br>
 

<a name="errorLog"></a>
<h2>How can I find out more of the problem at hand?</h2>
It is always a good idea to find out more about the problem at hand. 
There are actually 3  eclipse views that can give you more feedback on the problem at hand.
<ul><li>The console view</li>
<li>The problems view</li>
<li>The errors view</li></ul>
The console view gives you more information on the commands that are being run externally. 
That is the compiler and avr dude. The commands should be nearly 100% the same as in the arduino IDE (the order is not always relevant). 
Differences I am aware of are 
<ul><li>-D__IN_ECLIPSE__=1: that specifies you are in eclipse (I'm considering to remove this)</li>
<li>-Wall: stating that all warnings must be shown (the arduino IDE does not show warnings)</li>
<li>-x c++: An option I added to force *.pde and *.ino to be treated as C++ files (the latest versions of arduino do this also)</ul> 
The problems view gives an overview of the code problems and is probably not what you are looking for when you are reading this.<br><br>
The error view gives you an overview of errors and warnings that happened in eclipse and or its plugins.
To show the errors window: select Window-&gt;show view -&gt; other-&gt;select general tab-&gt;error log.
Look at the plugin column to see which plugin logged the warning. 
I can only tell you more about the errors and warnings generated by it.baeyens.* plugins.

<br><br>A final and most time consuming way to find the problem is to download the code from github. You can then compile and debug the code.<a name="spaces"></a>
<h2>Can I use spaces?</h2>
The usage of spaces is known to give problems when used in<br>

<ul  type=disc>
 <li >The Arduino Path.</li>
 <li >Project Names.</li>
</ul>

<a name="bugs"></a>
<h2>Eclipse tells me there are bugs in my code but it compiles ok.</h2>
Eclipse compiles your code in 2 ways. Once when you request a build (when
you press on the hammer-&gt; compiler) and ones when you change code (indexer). The
compiler is responsible for the build and the indexer is responsible for the continuous
build.<br>

The bugs
(the red animals in the code) you see in the code can be found by any of the 2.
The indexer behaves weird and sometimes doesn't find declarations that it
knows. In that case you have the bug icon without actually having a bug (in other words the code compiles ok but the indexer thinks it will not).<br>My current thinking is that following actions solve the serial problem. (note I have been thinking other solutions solved the problem)
<br>Setting the preference windows-&gt;preferences-&gt;C/C++-&gt;indexer-&gt;Files to index upfront . Add arduino.h and or WProgram.h including the full path. With me it currently states &quot;D:/arduino-1.0.1/hardware/arduino/cores/arduino/Arduino.h,cstdarg, stdarg.h, stddef.h, sys/resource.h, ctime, sys/types.h, signal.h, cstdio&quot;.<br><br>

Following things are known to improve the Serial problem but are suspected to cause other indexer problems.<br>
Setting the preference windows-&gt;preferences-&gt;C/C++-&gt;indexer-&gt;index unused headers.<br>
Setting the preference windows-&gt;preferences-&gt;C/C++-&gt;indexer-&gt;index source and header files opened in the editor.<br>
Setting the preference windows-&gt;preferences-&gt;C/C++-&gt;indexer-&gt;Files to index upfront . Add cstdio.h, arduino.h and or WProgram.h.<br>
Do next four in this sequence<br>
Right click the project-&gt;index-&gt;Search for unresolved includes.<br>
Right click the project-&gt;index-&gt;Freshen all Files.<br>
Right click the project-&gt;index-&gt;Update with modified files.<br>
Right click the project-&gt;index-&gt;Rebuild.<br>

<a name="elf"></a>
<h2>Where is the elf file?</h2>
When you have compiled the sketch sometimes you can not see the elf file in eclipse. <br>

This is a bug related to eclipse. If your project compiled fine refresh the project (press F5 when you have the project selected).<br>
Now there should e a binaries folder in the root of your project containing the elf file.<br>Note that just like in the Arduino IDE there is no reason to &quot;see&quot; the elf file.

<a name="errors"></a>
<h2>There are errors and warnings in the Arduino library.</h2>
But it compiles OK.<br>
in Arduino 1.0 there is only one warning left.<br>
The file WString.cpp gives an error with the eclipse indexer. This
is actually an error in the file

See this <a href="http://arduino.cc/forum/index.php/topic,69820.msg517336.html#msg517336">post</a>
for more info<br>
HardwareSerial.h: I am not sure what is the problem here<br>
pins_arduino.c: contains clearly warnings that can be fixed by adding a cast <br>
Print.cpp: contains a warning that can be fixed by adding a cast<br>
Tone.cpp: contains warnings because the eclipse C/C++ indexer goes weird<br>
Basically there is nothing to worry about, but it would be better if it were cleaned up.<br>

<a name="modified"></a>
<h2>I have modified my Arduino setup and... </h2>
You are entitled to modify the Arduino IDE setup. But I'm not supporting this. If you know what you have been doing and you play a bit
with eclipse you will find many ways to help you to solve your problem and probably more to make it worse.

<br>To be frank: If you can change the Arduino IDE setup you are a big boy so you can deal with
it, write a document about it and share it with the world.<br>
This way we all become smarter.<br>

<a name="canceled"></a>
<h2>I can not cancel the upload to the Arduino Board</h2>
Someone reported that pressing the cancel button during upload to arduino locks the com port.  Even if the upload is not working.  To solve the lock problem in windows unplug the arduino  -after all connections to the com port have been closed -from your pc and replug.<br>
<a name="wire"></a>
<h2>The library Wire does not compile</h2>
The eclipse plugin compiles all files as C++ files the Arduino IDE dos not do so. As a consequence the twi.c is compiled ad C++ by the plugin and as C by the arduino IDE. 
Modifying the twi.h file to force explicit C function prototyping fixes this problem. See the <a href = "http://arduino.cc/forum/index.php/topic,86344.0.html">Arduino forum thread</a> on how to do this.<br>
From version 1.1.8 onwards this should be fixed.<br>The wire library also contains a include library. Due to &quot;not top quality code of the wire library&quot;  a project using the wire lbrary also needs to include the utility folder. The same problem exists for ethernet and SD libraries.<br>From version 1.3 onwards libraries containing an utility subfolder also have the utility subfolder added to the include path.<br><br>

<a name="LibraryDelete"></a>
<h2>Deleting a library corrupts my project</h2>
To help to fix this bug please vote at <a href="https://bugs.eclipse.org/bugs/show_bug.cgi?id=372807">bugzille CDT project</a> (You need an account -no charge)<br>
This problem should not occur in V2. <br>
<h3>To work around</h3>
Before you delete the library:  Right click the library. Select &quot;Resource configurations&quot;-&gt;exclude from build. Select all chackboxes (normally you only have release).
Select OK.<br>Now the library you want to delete will be the last entry in your project and is grayed out.
<br>You can safely delete it now.
<h3>To reproduce do the following:</h3>
Create a Arduino sketch project using the wizard.
<br>Look at the project properties. They should look like the image below<br>
<img alt="The include properties after project creation" src="http://iloapp.baeyens.it/data/_gallery//public/1/1328707813_resized.png"><br>
<img alt="The include properties after project creation" src="http://iloapp.baeyens.it/data/_gallery//public/1/1328707816_resized.png"/>
add a arduino lirary to your arduino sketch project.
Look at the project properties. They should look like the image below<br>
<img alt="The include properties after project creation" src="http://iloapp.baeyens.it/data/_gallery//public/1/1328707814_resized.png"><br>
<img alt="The include properties after project creation" src="http://iloapp.baeyens.it/data/_gallery//public/1/1328707817_resized.png"/>
Delete the Arduino Library
<br>The project properties should look like any of the 2 above but they look like
<img alt="The include properties after project creation" src="http://iloapp.baeyens.it/data/_gallery//public/1/1328707815_resized.png"/>
<img alt="The include properties after project creation" src="http://iloapp.baeyens.it/data/_gallery//public/1/1328707818_resized.png"/><br>

Note that the images above show it for &quot;GNU C&quot;  but the same counts for &quot;GNU C++&quot;. Also note this is a pre V2 setup. From V2 onwards some names are different.<br>
First deleting all the incorrect values and then setting the correct values back solves the issue.<br>
<br>
<a name="SerialDoesNotExist"></a>
<h2>The indexer states Serial does not exist</h2>
This is actually the same problem as <a href="#bugs">Eclipse tells me there are bugs in my code but it compiles ok.</a><br>
<br>

<a name="site_down"></a>
<h2>I can't download the plugin. Is your site down?</h2>
As you are reading this: "obviously my site is not down". The download via eclipse is standard HTTP just like this page is to the browser. If you can access this page you can download the plugin.<br>
If it doesn't work for you: "Convince yourself that you have a problem at your site you (and you alone) will need to fix it.".<br>
You can check the following:<br>
<ul><li>
Don't try to download the plugin with a browser. See the installation instructions on how to install the plugin.
</li><li>
Make sure you have followed the installation instruction <b>uncheck "group items by category"</b>.
</li><li>
Check wether you are downloading the latestversion. Believe me many people failed because they wanted to download an old version.
</li><li>
In eclipse: Goto windows-&gt;preferences-&gt;general-&gt;Network settings. Verify these are set OK.<br>
</li><li>
Check in your firewall wether java(w) is allowed to get onto the internet.<br>
</li><li>
Disable virus checkers and firewalls<br>
</li><li>
Ask a local network specialist to help you out.
</li><li>
Please do not contact me on this because I can't help you with local issues. 
I will not send zip files over to people who do not sponsor this project.</li></ul>
<br>
<a name="MAC_Lock"></a>
<h2>On Mac I get the error &quot;serial port is in use&quot; when uploading. </h2>
The upload will be successfull with Arduino IDE 1.0 and higher unless you are uploading to a mega.
Run following terminal commands to fix the problem:<br>
<br> $ sudo mkdir /var/lock
<br>$ sudo chmod 777 /var/lock<br>
for more info see <a href="http://www.arduino.cc/cgi-bin/yabb2/YaBB.pl?num=1211165807/6">http://www.arduino.cc/cgi-bin/yabb2/YaBB.pl?num=1211165807/6</a>


<a name="Latest_Version"></a>
<h2>How can I find the latest version when installing?</h2>
To find the latest version when installing a eclipse plugin. In the "install new software" dialog make sure 
<ul><li>
only the latest version is checked
</li><li>
Group items by category is not checked
</li><li>
hide items that are already installed is not checked
</li></ul>
Below is an example of the settings. 1.2.5.5 is probably not the latest version.<br>
<img alt="The settings to find the latestversion" src="http://iloapp.baeyens.it/data/_gallery//public/1/134852263644133400_resized.png?width=575&height=540">
-->