<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
   <extension
         point="org.eclipse.tools.templates.ui.templates">
      <tag
            id="io.sloeber.ManagedBuild.ui.tag1"
            label="autoMake">
      </tag>
      <template
            id="io.sloeber.ManagedBuild.ui.newProject.template"
            label="create new autoBuild project"
            wizard="io.sloeber.autoBuild.integrations.CDTProjectWizard2">
         <tagReference
               id="io.sloeber.ManagedBuild.ui.tagReference1">
         </tagReference>
         <description>
            Create a CDT project based on makefile build with automagically created makefile.
(basically new managed build)
         </description>
         <tagReference
               id="org.eclipse.cdt.ui.cdtTag">
         </tagReference>
      </template>
   </extension>
<!-- 
####################################################################################### 
####################################################################################### 
##                                                                                   ##
##   Extension Points                                                                ## 
##                                                                                   ##
####################################################################################### 
####################################################################################### 
-->





	<!-- C++ Projects -->



<!-- 
####################################################################################### 
#    Arduino Nature                                                                       # 
####################################################################################### 
-->

<!--
####################################################################################### 
#    Launch Configuration                                                             #
####################################################################################### 
-->
<!-- Arduino Launch Configuration -->
<!--
####################################################################################### 
#    Arduino Plugin Commands                                                              # 
####################################################################################### 
-->




 
<!-- 

####################################################################################### 
####################################################################################### 
##                                                                                   ##
##   BuildDef                                                                        ##
##                                                                                   ## 
####################################################################################### 
####################################################################################### 
-->
 




<!-- 
####################################################################################### 
#    Content Types                                                                    # 
####################################################################################### 
-->

<!-- 
####################################################################################### 
#    ino and pde association  
#   this makes that the *.ino and *.pde files are treated as cpp files                
# 
####################################################################################### 
-->
 
 
</plugin>



		
		
