<h2>General usage advices</h2>
<accordion close-others="true">

  <accordion-group heading="Are there any restrictions to the project name?">
    Because of the toolchain used folowing characters are changed to '_' when given as project name in the new project wizard : ' '; '(' ; ')'.<br/>
    The tool allows you to use these but they will be replaced.  
    Having these characters in your path to sloeber will cause issues.
  </accordion-group>
  <accordion-group heading="What is the best way to work with multiple Arduino boards?">
    You can have all your projects in the same Eclipse workspace. There is no benefit of splitting them over workspaces.
    I use configurations to use the same code for several boards.
  </accordion-group>

  <accordion-group heading="How do you advice to use the Eclipse workspaces?">
    I keep all my Arduino projects in one Eclipse workspace. I make sure they al compile so there are no errors in the problem view.<br/>
    I work this way, and I'm not sure I would advice this way of working.<br/>
    I would advice starting with only one workspace. You may decide not to upgrade all you projects to the latest Arduino version.<br/>
    From V3 onwords even that can be done in one workspace. If you end up with plenty of projects in the same workspace you may find it is easier to split the workspace.<br/>
    Note that eclipse supports closing projects which improves performance.<br/>
    Note that splitting a workspace does not involve plenty of work as Eclipse supports drag and drop.
  </accordion-group>
</accordion>
