<h2>Background information</h2>
<accordion close-others="true">
  <accordion-group heading="Which version control system do you use?">
	I used to use Github. However I changed to Rational team concert as it fits far better with my needs.</br>
	Rational Team Concert is a great tool that allows to control the code at a high and low level at the same time. To me it outruns Github by far.
  </accordion-group>
  <accordion-group heading="Which tool do you use to do test so many versions?">
	Thanks for noticing there is quite some test work. As there are 4 Eclipse versions I support and there are 4 Arduino IDE versions I support that is 16 setups.
	For each of these setups I compile a dummy project for al boards. In total that is more than 200 Arduino sketches. There is no way I'm doing this manually.</br>
	I test all setups with Rational Functional Tester. Due to my employer I hold a licence to this product. I can not compare Rational Functional Tester to other tools in the market.</br>
	I know it does the work with me spending less time than doing it manually.
  </accordion-group>
</accordion>