<h2>Configuration</h2>
<accordion close-others="true">
  <accordion-group heading="Can I reuse the platforms and libraries I downloaded in anothe sloeber install">
	Yes you can. <br/>
	Sloeber creates a arduinoPlatform folder where all downloaded info is stored. <br/>
	If you upgrade using a new install next to your current install you can copy or move the arduinoPlugin folder. <br/>
	If you only want to reuse the downloaded files only copy the arduinoPlugin/downloads folder over.
	You can also put the arduinoPlatform folder on a different location on you platform by creationg the environment variable SLOEBER_HOME and point it to the parent of the arduinoPlugin folder. <br/>
	
	
  </accordion-group>
  <accordion-group heading="Can I use the plugin with a version control tool?">
	Yes you can and should. <br/>
  </accordion-group>
  <accordion-group heading="What is this private library in the settings page?">
	In the settings page a private library folder is requested. This setting should point to a location where you downloaded Arduino libraries.<br/>
	If you haven't downloaded Arduino libraries yet do as follows:
	<ol>
		<li>Consider using the Arduino IDE. (strongly advised)</li>
		<li>Point it to a location where you can download Arduino libraries.</li>
	</ol>
  </accordion-group>
</accordion>

