D:\apache-maven-3.3.9\bin<h2>General</h2>
<accordion close-others="true"> <accordion-group
	heading="How can I contact the author of this great plugin?">
	<p>
	Unless you want to send a mail saying <i>"thank you"</i> or <i>"well
		done"</i>, consider the following :
</p>
<p>
	First of all ask yourself: <i>"Do I have something of interest to
		share with Jantje? I mean interesting for Jantje, not for me?"</i>. <br />
	Then consider asking yourself: <i>"Jantje has spent many days
		working on this plugin. Jantje is still spending way too much time on
		improving the plugin. Jantje gives it to you all for free. Do I really
		want to consume Jantje's time?"</i>.
</p>
<p>If you still believe you want to contact Jantje, please first try
	searching the web for an existing solution to your problem/question
	and, only after all the searches you could think of have failed, at
	least have the decency to write a proper email.</p>
<p>
	So don't be surprised when Jantje is not responding nicely when you ask
	a question you should not have asked him in the first place.<br /> If
	you think he's blunt, you should see the one-liner mails he gets!
</p>
<p>
	He's not the only person in the world who feels like this. So, before
	sending a mail, learn something and read the Eclipse guidance when
	formulating your question <b>note the Eclipse link is not a link to
		a help desk</b>. <a
		href="http://www.catb.org/~esr/faqs/smart-questions.html">It is a
		link to a document explaining how to ask questions the smart way.</a>
</p>

<ul>

	<li>If you think you have found a bug you can log the bug at <a
		href="https://github.com/jantje/arduino-eclipse-plugin"
		target="_blank">Github</a></li>

	<li>If all of the above are not appropriate, then you may want to
		discuss something in private with Jantje, which <b><i>you
				think</i></b> is really interesting to Jantje: you may reach him at <a
		href="mailto:eclipse@baeyens.it">eclipse@baeyens.it</a>.<br /> 
	</li>
</ul>

</accordion-group> <accordion-group heading="I want to support you. How can I do so?">
Thank you for wanting to support me. I really appreciate that.<br />
However I no longer can accept financial support. Share some good in this world instead.
<br />
But you can write/speak about Sloeber. <br />
Or help with coding or this web site.<br />

</accordion-group> <accordion-group heading="On which os is this plugin tested?">
<p>When I ask for testers I try to get a tester for each os.
	As it is all volunteer work there are however no guarantees.</p>
<p>I designed/tested on Windows 10.</p>
<p>There are windows users and there are some loyal Mac users whom I
	ask to test specific Mac features.</p>
<a
	href="http://trippylighting.com/teensy-arduino-ect/arduino-eclipse-plugin/arduino-eclipse-plugin-installation/">My
	biggest fan</a> on V2 Teensy and Mac<br>
<br>
</accordion-group> <accordion-group heading="Where is the serial monitor?">
Press the <code>Serial monitor</code> icon in the
toolbar (the same as Arduino is using) or open it via the Arduino menu.<br>
<br>
</accordion-group> <accordion-group heading="Did you say there is a (oscillo)scope?">
Thanks to Wim Jongman version 2.1.1 introduced scope functionality. It
is a 6 channel scope that works exactly like <a
	href="http://www.negtronics.com/simplot">Simplot</a> (link no loger works)<br>
	Use the  <a href="https://github.com/jantje/ArduinoLibraries/tree/master/simplot"> simplot</a> library to see how it works<br>

Basically you can send any integer vallue to the scope. A good example
for debugging could be that you send the actual read value and the mean,
average, ...<br>
<a href="http://blog.baeyens.it/#post12">Here is a blog where I used
	the scope to monitor the heat buildup of a Arduino controlled PWM
	motor.</a>
<br>
</accordion-group> <accordion-group heading="How do I debug?"> There is
no debug functionality with Arduino out of the box.<br>
The Sloeber supports debugging with:
<ul>
<li> <a href=https://www.youtube.com/watch?v=S_QTMNhaDwM&list=PLCSjf7QmP3TDPSjT_5UIp0DHXzKdhIQsF&index=19&t=860s>Zero and esp8266</a></li>
<li> <a href="https://www.youtube.com/watch?v=ZN-rLSyhBN8&list=PLCSjf7QmP3TDPSjT_5UIp0DHXzKdhIQsF&index=4">By running your code on your pc</a></li>
<li> <a href="https://www.youtube.com/watch?v=d-Vt21BIHl0&list=PLCSjf7QmP3TDPSjT_5UIp0DHXzKdhIQsF&index=5">By running unit tests on your pc</a></li>
<li> AVR dragon <a	href=http://husks.wordpress.com/2012/03/29/hardware-debugging-the-arduino-using-eclipse-and-the-avr-dragon>here</a></li>
 </ul>
.<br>
</accordion-group> <accordion-group heading="Where can I report bugs?">
Please report any bug on <a
	href="https://github.com/jantje/arduino-eclipse-plugin/issues"
	target="_blank">Github</a> providing as much information as possible
regarding how to reproduce it, your Eclipse environment configuration,
the operating system and the hardware you use when the issue occurs.<br>

</accordion-group> <accordion-group
	heading="How come is this plugin free?"> I have
written this tool for myself for several reasons.
<ul>
	<li>I lost plenty of time configuring the AVRECLIPSE plugin. As
		the configuration is per workspace I wanted something better.</li>
	<li>I truly believe the Arduino needs a software development
		growth path. At the time there was little available that would be a valid
		free software development growth path for the arduino.</li>
	<li>I had some time and wanted to learn more in depth about the
		Eclipse environment.</li>
</ul>
<p>
	As I build it and I did not feel like investing time to make money out
	of it I published the code in open source.<br> When I build the
	serial monitor I considered to make a commercial package from it. I
	decided not to do so because the price/support effort seemed out of
	balance at that time.<br> In July 2012 I added a ""Buy Jantje an Arduino." page to allow people to
	sponsor this project. Results have been below expectations so I removed it.<br>
	There has been a patreon account.<br>
	I tried toi sell t-shirts.<br>
	During this period my web stats reports a minimum per month of 3289
	visits; 5206 page views.<br> During the whole of the 3 first
	months I received 5 donations.<br> 
	This amount grew but was never substantial.<br>
	In the mean time patreon went completely woke and SJW so I left patreon for good.<br>
</p>
</accordion-group> <accordion-group
	heading="You state the plugin is open source. Where can I find the source code?">
The latest and greatest code github is build nightly and available on
the nightly update site.<br>
You can find the code at <a
	href="https://github.com/jantje/arduino-eclipse-plugin">https://github.com/jantje/arduino-eclipse-plugin</a>
</accordion-group> <accordion-group
	heading="How do I know what has changed in the code lately?">
The easiest is to look at the travis build history.<br>
<a href="https://travis-ci.org/jantje/arduino-eclipse-plugin/builds">travis
	build history</a> </accordion-group> </accordion>
