<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.ui.views">
	<category
            name="Sloeber"
            id="io.sloeber.ui.monitor">
      </category>
      <view id="io.sloeber.ui.monitor.views.SerialMonitor"
            category="io.sloeber.ui.monitor"
            class="io.sloeber.ui.monitor.views.SerialMonitor"
            icon="icons/serial.png"
            name="%serial.monitor.view.name">
      </view>
      <view
            category="io.sloeber.ui.monitor"
            class="io.sloeber.ui.monitor.views.PlotterView"
            icon="icons/plotter.png"
            id="io.sloeber.ui.monitor.views.PlotterView"
            name="%plotter.view.name"
            restorable="true">
      </view>

	</extension>

 <!--
#######################################################################################
#   fonts and colors used by the plugin
#
#######################################################################################
-->

 <extension point="org.eclipse.ui.themes">
 <themeElementCategory
      id="io.sloeber.themeCategory"
      label="Sloeber">
</themeElementCategory>
<themeElementCategory
      id="io.sloeber.plotter.themeCategory"
      label="%themeElementCategory.plotter.label"
      parentId="io.sloeber.themeCategory">
<description>
%themeElementCategory.fonts.and.colors.plotter.description
</description>
</themeElementCategory>
<themeElementCategory
      id="io.sloeber.serialMonitor.themeCategory"
      label="%themeElementCategory.serial.monitor.label"
      parentId="io.sloeber.themeCategory">
<description>
%themeElementCategory.fonts.and.colors.serial.description
</description>
</themeElementCategory>
<colorDefinition categoryId="io.sloeber.plotter.themeCategory" id="io.sloeber.plotter.color.background" label="%colorDefinition.background.label" value="COLOR_BLACK">
<description>
%colorDefinition.background.description
</description>
</colorDefinition>
<colorDefinition categoryId="io.sloeber.plotter.themeCategory" id="io.sloeber.plotter.color.foreground" label="%colorDefinition.foreground.label" value="COLOR_WHITE">
<description>
%colorDefinition.foreground.description
</description>
</colorDefinition>
<colorDefinition categoryId="io.sloeber.plotter.themeCategory" id="io.sloeber.plotter.color.grid" label="%colorDefinition.plotter.grid.color.label" value="COLOR_DARK_CYAN">
<description>
%colorDefinition.plotter.grid.colordescription
</description>
</colorDefinition>
<colorDefinition categoryId="io.sloeber.plotter.themeCategory" id="io.sloeber.plotter.color.1" label="%colorDefinition.plotter.channel1.label" value="COLOR_YELLOW">
<description>
%colorDefinition.plotter.channel1.description
</description>
</colorDefinition>
<colorDefinition categoryId="io.sloeber.plotter.themeCategory" id="io.sloeber.plotter.color.2" label="%colorDefinition.plotter.channel2.label" value="COLOR_CYAN">
<description>
%colorDefinition.plotter.channel2.description
</description>
</colorDefinition>
<colorDefinition categoryId="io.sloeber.plotter.themeCategory" id="io.sloeber.plotter.color.3" label="%colorDefinition.plotter.channel3.label" value="COLOR_WHITE">
<description>
%colorDefinition.plotter.channel3.description
</description>
</colorDefinition>
<colorDefinition categoryId="io.sloeber.plotter.themeCategory" id="io.sloeber.plotter.color.4" label="%colorDefinition.plotter.channel4.label" value="COLOR_GREEN">
<description>
%colorDefinition.plotter.channel4.description
</description>
</colorDefinition>
<colorDefinition categoryId="io.sloeber.plotter.themeCategory" id="io.sloeber.plotter.color.5" label="%colorDefinition.plotter.channel5.label" value="COLOR_RED">
<description>
%colorDefinition.plotter.channel5.description
</description>
</colorDefinition>
<colorDefinition categoryId="io.sloeber.plotter.themeCategory" id="io.sloeber.plotter.color.6" label="%colorDefinition.plotter.channel6.label" value="COLOR_BLUE">
<description>
%colorDefinition.plotter.channel6.description
</description>
</colorDefinition>
<fontDefinition
      categoryId="io.sloeber.serialMonitor.themeCategory"
      defaultsTo="org.eclipse.jface.textfont"
      id="io.sloeber.serial.fontDefinition"
      label="%fontDefinition.serial.font.label">
<description>
%fontDefinition.serial.font.description
</description>
</fontDefinition>

<colorDefinition categoryId="io.sloeber.serialMonitor.themeCategory" id="io.sloeber.serial.color.1" label="%colorDefinition.serial.channel1.label" value="COLOR_BLACK">
<description>
%colorDefinition.serial.channel1.description
</description>
</colorDefinition>
<colorDefinition categoryId="io.sloeber.serialMonitor.themeCategory" id="io.sloeber.serial.color.2" label="%colorDefinition.serial.channel2.label" value="COLOR_RED">
<description>
%colorDefinition.serial.channel2.description
</description>
</colorDefinition>
<colorDefinition categoryId="io.sloeber.serialMonitor.themeCategory" id="io.sloeber.serial.color.3" label="%colorDefinition.serial.channel3.label" value="COLOR_GREEN">
<description>
%colorDefinition.serial.channel3.description
</description>
</colorDefinition>
<colorDefinition categoryId="io.sloeber.serialMonitor.themeCategory" id="io.sloeber.serial.color.4" label="%colorDefinition.serial.channel4.label" value="COLOR_BLUE">
<description>
%colorDefinition.serial.channel4.description
</description>
</colorDefinition>
<colorDefinition
      categoryId="io.sloeber.serialMonitor.themeCategory"
      id="io.sloeber.serial.color.5"
      label="%colorDefinition.serial.channel5.label"
      value="COLOR_DARK_RED">
   <description>
      %colorDefinition.serial.channel5.description
   </description>
</colorDefinition>
<colorDefinition
      categoryId="io.sloeber.serialMonitor.themeCategory"
      id="io.sloeber.serial.color.6"
      label="%colorDefinition.serial.channel6.label"
      value="COLOR_DARK_YELLOW">
   <description>
      %colorDefinition.serial.channel6.description
   </description>
</colorDefinition>
    <themeElementCategory
          id="io.sloeber.ui.uploadConsole.themeCategory"
          label="%themeElementCategory.upload.console.label"
          parentId="io.sloeber.themeCategory">
       <description>
          %themeElementCategory.font.colors.upload.description
       </description>
    </themeElementCategory>
    <fontDefinition
          categoryId="io.sloeber.ui.uploadConsole.themeCategory"
          defaultsTo="org.eclipse.jface.textfont"
          id="io.sloeber.ui.uploadConsole.fontDefinition"
          label="%fontDefinition.upload.font.label">
       <description>
          %fontDefinition.upload.font.description
       </description>
    </fontDefinition>
    <colorDefinition
          categoryId="io.sloeber.ui.uploadConsole.themeCategory"
          id="io.sloeber.ui.uploadConsole.colorDefinition.stderr"
          label="%colorDefinition.upload.font.error.label"
          value="COLOR_RED">
       <description>
          %colorDefinition.upload.font.error.description
       </description>
    </colorDefinition>
    <colorDefinition
          categoryId="io.sloeber.ui.uploadConsole.themeCategory"
          id="io.sloeber.ui.uploadConsole.colorDefinition.stdout"
          label="%colorDefinition.upload.font.standard.label"
          value="COLOR_DARK_GREEN">
       <description>
          %colorDefinition.upload.font.standard.description
       </description>
    </colorDefinition>
    <colorDefinition
          categoryId="io.sloeber.ui.uploadConsole.themeCategory"
          id="io.sloeber.ui.uploadConsole.colorDefinition.high"
          label="%colorDefinition.upload.font.high.label"
          value="COLOR_BLACK">
       <description>
          %colorDefinition.upload.font.high.description
       </description>
    </colorDefinition>
</extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <category
          id="io.sloeber.eclipse.newWizards"
          name="Arduino">
    </category>
    <wizard
          category="io.sloeber.eclipse.newWizards"
          class="io.sloeber.ui.wizard.newsketch.NewSketchWizard"
          finalPerspective="io.sloeber.application.perspective"
          icon="icons/new.png"
          id="io.sloeber.eclipse.NewArduinoSketchWizard"
          name="%wizard.new.sketch.name"
          project="true">
       <description>
          %wizard.new.sketch.description
       </description>
    </wizard>
    <primaryWizard
          id="io.sloeber.eclipse.NewArduinoSketchWizard">
    </primaryWizard>
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          class="io.sloeber.ui.project.properties.PropertyPage"
          id="io.sloeber.eclipse.propertypage.ArduinoProperty"
          name="Arduino">
       <filter
             name="projectNature"
             value="io.sloeber.arduinonature">
       </filter>
       <enabledWhen>
          <or>
             <instanceof
                   value="org.eclipse.core.resources.IProject">
             </instanceof>
             <instanceof
                   value="org.eclipse.cdt.core.model.ICProject">
             </instanceof>
          </or>
       </enabledWhen>
    </page>
 </extension>
     <extension
          point="org.eclipse.ui.importWizards">
       <category
             id="io.sloeber.eclipse.importWizards"
             name="Arduino">
       </category>
       <wizard
             category="io.sloeber.eclipse.importWizards"
             class="io.sloeber.ui.ImportLibraries"
             icon="icons/arduino.png"
             id="io.sloeber.Import_Arduino_Libraries"
             name="%wizard.libraries.import.name">
          <description>
             %wizard.libraries.import.description
          </description>
          <selection
                class="org.eclipse.core.resources.IResource">
          </selection>
       </wizard>
       <wizard
             category="io.sloeber.eclipse.importWizards"
             class="io.sloeber.ui.Import_Source_Folder"
             icon="icons/arduino.png"
             id="io.sloeber.Import_Source_Folder"
             name="%wizard.folder.import.name">
          <description>
             %wizard.folder.import.description
          </description>
          <selection
                class="org.eclipse.core.resources.IResource">
          </selection>
       </wizard>
    </extension>
     <extension
       point="org.eclipse.ui.decorators">
    <decorator
          class="io.sloeber.ui.ExplorerLabelDecorator"
          id="io.sloeber.core.decorator1"
          label="%decorator.label"
          state="true">
       <description>
          %decorator.description
       </description>
       <enablement>
          <objectClass
                name="org.eclipse.core.resources.IProject">
          </objectClass>
       </enablement>
    </decorator>
 </extension>
  <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="io.sloeber.ui.preferences.PreferencePage"
          id="io.sloeber.eclipse.ArduinoPreferencePage"
          name="Arduino">
    </page>
    <page
          category="io.sloeber.eclipse.ArduinoPreferencePage"
          class="io.sloeber.ui.preferences.PlatformSelectionPage"
          id="io.sloeber.eclipse.loation_page"
          name="%page.preferences.platform..name">
    </page>
    <page
          category="io.sloeber.eclipse.ArduinoPreferencePage"
          class="io.sloeber.ui.preferences.ThirdPartyHardwareSelectionPage"
          id="io.sloeber.eclipse.boards"
          name="%page.preferences.third.party.name">
    </page>
    <page
          category="io.sloeber.eclipse.ArduinoPreferencePage"
          class="io.sloeber.ui.preferences.LibrarySelectionPage"
          id="io.sloeber.eclipse.libraries"
          name="%page.preferences.libraries.name">
    </page>
 </extension>
  <extension
       point="org.eclipse.ui.commands">
    <category
          description="%category.arduino.description"
          id="io.sloeber.commands"
          name="Arduino">
    </category>
    <command
          categoryId="io.sloeber.commands"
          defaultHandler="io.sloeber.ui.actions.UploadProjectHandler"
          description="%command.upload.description"
          id="io.sloeber.actions.UploadprojectAction"
          name="%command.upload.label">
    </command>
    <command
          categoryId="io.sloeber.commands"
          defaultHandler="io.sloeber.ui.actions.NewSketchHandler"
          description="%command.new.sketch.description"
          id="io.sloeber.actions.NewSketchAction"
          name="%command.new.sketch.label">
    </command>
    <command
          categoryId="io.sloeber.commands"
          defaultHandler="io.sloeber.ui.actions.BuildHandler"
          description="%command.build.description"
          id="io.sloeber.actions.ArduinoBuildAction"
          name="%command.build.label">
    </command>
    <command
          categoryId="io.sloeber.commands"
          defaultHandler="io.sloeber.ui.actions.OpenSerialMonitorHandler"
          description="%command.openSerialMonitorAction.description"
          id="io.sloeber.actions.OpenSerialMonitorAction"
          name="%command.open.serial.monitor.label">
    </command>
    <command
          categoryId="io.sloeber.commands"
          defaultHandler="io.sloeber.ui.actions.AddLibraryAction"
          description="%command.AddLibraryAction.description"
          id="io.sloeber.actions.AddLibraryAction"
          name="%command.AddLibraryAction.name">
    </command>
    <command
          categoryId="io.sloeber.commands"
          defaultHandler="io.sloeber.ui.actions.AddSourceFolderAction"
          description="%command.AddSourceFolder.description"
          id="io.sloeber.actions.AddSourceFolderAction"
          name="%command.AddSourceFolder.name">
    </command>
    <command
          categoryId="io.sloeber.commands"
          defaultHandler="io.sloeber.ui.actions.OpenPlotterHandler"
          description="%command.open.Plotter.description"
          id="io.sloeber.actions.OpenPlotterAction"
          name="%command.open.Plotter.label">
    </command>
    <command
          categoryId="io.sloeber.commands"
          defaultHandler="io.sloeber.ui.actions.ReattachLibraries"
          description="%command.reattachLibraries.description"
          id="io.sloeber.actions.ReattachLibraries"
          name="%command.reattachLibraries.name">
    </command>
    <command
          categoryId="io.sloeber.commands"
          defaultHandler="io.sloeber.ui.actions.LinkCommandHandler"
          id="io.sloeber.core.open.link"
          name="open how To link">
       <commandParameter
             id="io.sloeber.core.link.parameter"
             name="link url"
             optional="true">
       </commandParameter>
    </command>
    <command
          categoryId="io.sloeber.commands"
          defaultHandler="io.sloeber.ui.actions.OpenPreferencesHandler"
          description="%command.open.sloeber.preferences.description"
          id="io.sloeber.ui.actions.openPreferences"
          name="%command.open.sloeber.preferences.name">
       <commandParameter
             id="io.sloeber.ui.actions.openPreferences.pageId"
             name="Page ID"
             optional="false">
       </commandParameter>
    </command>
 </extension>
  <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="toolbar:org.eclipse.ui.main.toolbar">
       <toolbar
             id="io.sloeber.toolbar.main"
             label="Sloeber">
          <visibleWhen
                checkEnabled="false">
             <reference
                   definitionId="io.sloeber.definition.isArduinoPerspective">
             </reference>
          </visibleWhen>
          <command
                commandId="io.sloeber.actions.ArduinoBuildAction"
                icon="icons/check.png"
                label="%command.build.label"
                style="push">
          </command>
          <command
                commandId="io.sloeber.actions.UploadprojectAction"
                icon="icons/arrow.png"
                label="%command.upload.label"
                style="push">
          </command>
          <command
                commandId="io.sloeber.actions.NewSketchAction"
                icon="icons/new.png"
                label="%command.new.sketch.label"
                style="push">
          </command>
          <command
                commandId="org.eclipse.ui.file.save"
                disabledIcon="icons/save_dis.png"
                icon="icons/save.png"
                style="push">
          </command>
          <command
                commandId="io.sloeber.actions.OpenSerialMonitorAction"
                icon="icons/ser_mon.png"
                label="%command.open.serial.monitor.label"
                style="push">
          </command>
          <command
                commandId="io.sloeber.actions.OpenPlotterAction"
                icon="icons/toolbar_plotter.png"
                label="%command.open.Plotter.label"
                style="push">
          </command>
       </toolbar>
    </menuContribution>
    <menuContribution
          locationURI="menu:org.eclipse.ui.main.menu??after=Run">
       <menu
             label="A&amp;rduino">
          <visibleWhen
                checkEnabled="false">
             <reference
                   definitionId="io.sloeber.definition.isArduinoPerspective">
             </reference>
          </visibleWhen>
          <command
                commandId="io.sloeber.actions.ArduinoBuildAction"
                icon="icons/check.png"
                id="buildProject"
                label="%command.build.label"
                tooltip="%command.build.project.tooltip">
          </command>
          <command
                commandId="io.sloeber.actions.UploadprojectAction"
                icon="icons/arrow.png"
                id="UploadprojectAction"
                tooltip="%command.upload.tooltip">
          </command>
          <command
                commandId="io.sloeber.actions.NewSketchAction"
                icon="icons/new.png"
                id="NewSketchAction"
                tooltip="%command.new.sketch.description">
          </command>
          <command
                commandId="io.sloeber.actions.OpenSerialMonitorAction"
                icon="icons/ser_mon.png"
                id="OpenSerialMonitorAction"
                tooltip="%command.open.serial.monitor.tooltip">
          </command>
          <command
                commandId="io.sloeber.actions.OpenPlotterAction"
                icon="icons/toolbar_plotter.png"
                id="OpenPlotterAction"
                label="%command.open.Plotter.label"
                tooltip="%command.open.Plotter.description">
          </command>
          <command
                commandId="io.sloeber.actions.AddLibraryAction"
                icon="icons/library.png"
                id="AddLibraryAction"
                style="push"
                tooltip="%command.AddLibraryAction.description">
          </command>
          <command
                commandId="io.sloeber.actions.AddSourceFolderAction"
                icon="icons/folder.png"
                id="AddSourceFolderAction"
                style="push"
                tooltip="%command.AddSourceFolder.description ">
          </command>
          <command
                commandId="io.sloeber.actions.ReattachLibraries"
                icon="icons/hammer.png"
                id="ReattachLibrariesAction"
                style="push"
                tooltip="%command.reattachLibraries.description">
          </command>
          <separator
                name="io.sloeber.core.separator1"
                visible="true">
          </separator>
          <command
                commandId="io.sloeber.core.open.link"
                icon="icons/help.png"
                id="open.how.toweb.page"
                label="%command.how.to.label"
                style="push"
                tooltip="%command.how.to.description">
             <parameter
                   name="io.sloeber.core.link.parameter"
                   value="https://eclipse.baeyens.it/how_to.shtml">
             </parameter>
          </command>
          <command
                commandId="io.sloeber.core.open.link"
                icon="icons/learn.png"
                id="open.how.toweb.page"
                label="%command.learn.label"
                style="push"
                tooltip="%command.learn.description">
             <parameter
                   name="io.sloeber.core.link.parameter"
                   value="https://eclipse.baeyens.it/learn.shtml">
             </parameter>
          </command>
          <command
                commandId="io.sloeber.core.open.link"
                icon="icons/tape.png"
                id="open.youTube.page"
                label="%command.videos.label"
                style="push"
                tooltip="%command.videos.description">
             <parameter
                   name="io.sloeber.core.link.parameter"
                   value="https://www.youtube.com/playlist?list=PLCSjf7QmP3TDPSjT_5UIp0DHXzKdhIQsF">
             </parameter>
          </command>
          <command
                commandId="io.sloeber.core.open.link"
                id="open.upgrade.page"
                label="%command.upgrade.info.label"
                style="push"
                tooltip="%command.upgrade.info.description">
             <parameter
                   name="io.sloeber.core.link.parameter"
                   value="https://baeyens.it/eclipse/github_status.php?majorVersion=${MAJOR_VERSION}&amp;minorVersion=${MINOR_VERSION}&amp;microVersion=${MICRO_VERSION}&amp;qualifierVersion=${QUALIFIER_VERSION}">
             </parameter>
          </command>
          <separator
                name="io.sloeber.core.separator2"
                visible="true">
          </separator>
          <command
                commandId="io.sloeber.ui.actions.openPreferences"
                icon="icons/preferences.png"
                label="%command.preferences.label"
                style="push"
                tooltip="%command.open.sloeber.preferences.description">
             <parameter
                   name="io.sloeber.ui.actions.openPreferences.pageId"
                   value="io.sloeber.eclipse.ArduinoPreferencePage">
             </parameter>
          </command>
       </menu>
    </menuContribution>
 </extension>
  <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="io.sloeber.application.perspective">
       <newWizardShortcut
             id="io.sloeber.eclipse.NewArduinoSketchWizard">
       </newWizardShortcut>
    </perspectiveExtension>
 </extension>
  <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <commonWizard
          type="new"
          wizardId="io.sloeber.eclipse.NewArduinoSketchWizard">
       <enablement>
          <or>
             <adapt
                   type="org.eclipse.core.resources.IProject">
             </adapt>
             <adapt
                   type="org.eclipse.core.resources.IWorkspaceRoot">
             </adapt>
          </or>
       </enablement>
    </commonWizard>
 </extension>
   <extension
        point="org.eclipse.cdt.ui.cPropertyTab">
     <tab
           class="io.sloeber.ui.project.properties.BoardSelectionPage"
           icon="platform:/plugin/io.sloeber.application/icons/logo_16.png"
           name="%tab.board.selection.name"
           parent="io.sloeber.ui.project.properties.PropertyPage"
           weight="050">
     </tab>
     <tab
           class="io.sloeber.ui.project.properties.CompileProperties"
           icon="icons/preferences.png"
           name="%tab.compile.options.name"
           parent="io.sloeber.ui.project.properties.PropertyPage"
           weight="050">
     </tab>
  </extension>
      <extension
          point="org.eclipse.debug.ui.launchConfigurationTabGroups">
       <launchConfigurationTabGroup
             class="io.sloeber.ui.core.launchconfig.LaunchConfigurationTabGroup"
             id="io.sloeber.ui.launchconfig.arduinoLaunchConfigurationTabGroup"
             type="io.sloeber.tools.arduinoLaunchConfiguration">
          <launchMode
                mode="run">
          </launchMode>
          <launchMode
                mode="debug">
          </launchMode>
       </launchConfigurationTabGroup>
    </extension>
        <extension
          point="org.eclipse.debug.ui.launchConfigurationTypeImages">
       <launchConfigurationTypeImage
             configTypeID="io.sloeber.tools.arduinoLaunchConfiguration"
             icon="icons/16px-upload.png"
             id="io.sloeber.tools.arduinoLaunchConfigurationTypeImages">
       </launchConfigurationTypeImage>
    </extension>
        <extension
          point="org.eclipse.debug.ui.launchShortcuts">
       <shortcut
             class="io.sloeber.ui.core.launchconfig.LaunchShortcut"
             icon="icons/16px-upload.png"
             id="io.sloeber.ui.launchconfig.launchShortcut"
             label="%launch.arduino.label"
             modes="run, debug">
          <contextualLaunch>
             <enablement>
                <with
                      variable="selection">
                   <count
                         value="1">
                   </count>
                   <iterate>
                      <or>
                         <test
                               forcePluginActivation="false"
                               property="org.eclipse.debug.ui.matchesPattern"
                               value="*.ino">
                         </test>
                      </or>
                   </iterate>
                </with>
             </enablement>
          </contextualLaunch>
       </shortcut>
    </extension>
        <extension
              point="org.eclipse.ui.navigator.navigatorContent">
           <commonWizard
                 type="new"
                 wizardId="io.sloeber.eclipse.NewArduinoSketchWizard">
              <enablement>
                 <count
                       value="*">
                 </count>
              </enablement>
           </commonWizard>
        </extension>
</plugin>
