<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
 
 
	<extension id="io.sloeber.autoBuild.test"
        point="io.sloeber.autoBuild.buildDefinitions"
		name="stuff for testing autoBuild" >
		
  <projectType
        builders="io.sloeber.autoBuild.internal.builder;cdt.autobuild.make.builder"
        id="io.sloeber.autoBuild.projectType.test.options"
        isTest="true"
        name="autoBuild test options">
     <configuration
           id="io.sloeber.autoBuild.configuration.test"
           name="autobuildTest">
     </configuration>
     <toolChain
           archList="all"
           id="io.sloeber.autoBuild.toolChain.test"
           name="testToolChain"
           osList="all">
        <tool
              command="g++"
              id="cdt.managedbuild.tool.gnu.cpp.compiler.test"
              outputFlag="-o">
           <optionCategory
                 id="gnu.cpp.compiler.category.dialect"
                 name="%OptionCategory.Dialect"
                 owner="cdt.managedbuild.tool.gnu.cpp.compiler">
           </optionCategory>
           <option
                 category="gnu.cpp.compiler.category.dialect"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.dialect.std"
                 name="%Option.Posix.Dialect"
                 useByScannerDiscovery="true"
                 valueType="enumerated">
              <enumeratedOptionValue
                    id="gnu.cpp.compiler.dialect.default"
                    name="%Option.Posix.Dialect.default">
              </enumeratedOptionValue>
              <enumeratedOptionValue
                    command="-std=c++98"
                    id="gnu.cpp.compiler.dialect.c++98"
                    name="%Option.Posix.Dialect.c++98">
              </enumeratedOptionValue>
              <enumeratedOptionValue
                    command="-std=c++0x"
                    id="gnu.cpp.compiler.dialect.c++11"
                    name="%Option.Posix.Dialect.c++11">
              </enumeratedOptionValue>
              <enumeratedOptionValue
                    command="-std=c++1y"
                    id="gnu.cpp.compiler.dialect.c++1y"
                    name="%Option.Posix.Dialect.c++14">
              </enumeratedOptionValue>
              <enumeratedOptionValue
                    command="-std=c++17"
                    id="gnu.cpp.compiler.dialect.c++17"
                    name="%Option.Posix.Dialect.c++17">
              </enumeratedOptionValue>
              <enumeratedOptionValue
                    command="-std=c++2a"
                    id="gnu.cpp.compiler.dialect.c++2a"
                    name="%Option.Posix.Dialect.c++2a">
              </enumeratedOptionValue>
           </option>
           <option
                 category="gnu.cpp.compiler.category.dialect"
                 id="gnu.cpp.compiler.option.dialect.flags"
                 name="%Option.Posix.Dialect.Flags"
                 useByScannerDiscovery="true"
                 valueType="string">
           </option>
           <optionCategory
                 id="gnu.cpp.compiler.category.preprocessor"
                 name="%OptionCategory.Preproc"
                 owner="cdt.managedbuild.tool.gnu.cpp.compiler">
           </optionCategory>
           <option
                 category="gnu.cpp.compiler.category.preprocessor"
                 command="-nostdinc"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.preprocessor.nostdinc"
                 name="%Option.Posix.Nostdinc"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.preprocessor"
                 command="-E"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.preprocessor.preprocess"
                 name="%Option.Posix.PreprocOnly"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.preprocessor"
                 command="-D"
                 id="gnu.cpp.compiler.option.preprocessor.def"
                 name="%Option.Posix.DefSym"
                 valueType="definedSymbols">
           </option>
           <option
                 category="gnu.cpp.compiler.category.preprocessor"
                 command="-U"
                 id="gnu.cpp.compiler.option.preprocessor.undef"
                 name="%Option.Posix.UndefSym"
                 valueType="undefDefinedSymbols">
           </option>
           <optionCategory
                 id="gnu.cpp.compiler.category.dirs"
                 name="%OptionCategory.Dirs"
                 owner="cdt.managedbuild.tool.gnu.cpp.compiler">
           </optionCategory>
           <option
                 browseType="directory"
                 category="gnu.cpp.compiler.category.dirs"
                 command="-I"
                 id="gnu.cpp.compiler.option.include.paths"
                 name="%Option.Posix.InclPaths"
                 valueType="includePath">
           </option>
           <option
                 browseType="file"
                 category="gnu.cpp.compiler.category.dirs"
                 command="-include"
                 id="gnu.cpp.compiler.option.include.files"
                 name="%Option.Posix.InclFiles"
                 valueType="includeFiles">
           </option>
           <optionCategory
                 id="gnu.cpp.compiler.category.optimization"
                 name="%OptionCategory.Optimize"
                 owner="cdt.managedbuild.tool.gnu.cpp.compiler">
           </optionCategory>
           <option
                 category="gnu.cpp.compiler.category.optimization"
                 id="gnu.cpp.compiler.option.optimization.level"
                 name="%Option.Posix.OptLevel"
                 valueType="enumerated">
              <enumeratedOptionValue
                    command="-O0"
                    id="gnu.cpp.compiler.optimization.level.none"
                    name="%Option.Posix.Optimize.None">
              </enumeratedOptionValue>
              <enumeratedOptionValue
                    command="-O1"
                    id="gnu.cpp.compiler.optimization.level.optimize"
                    name="%Option.Posix.Optimize.Optimize">
              </enumeratedOptionValue>
              <enumeratedOptionValue
                    command="-O2"
                    id="gnu.cpp.compiler.optimization.level.more"
                    name="%Option.Posix.Optimize.More">
              </enumeratedOptionValue>
              <enumeratedOptionValue
                    command="-O3"
                    id="gnu.cpp.compiler.optimization.level.most"
                    name="%Option.Posix.Optimize.Most">
              </enumeratedOptionValue>
              <enumeratedOptionValue
                    command="-Os"
                    id="gnu.cpp.compiler.optimization.level.size"
                    name="%Option.Posix.Optimize.Size">
              </enumeratedOptionValue>
           </option>
           <option
                 category="gnu.cpp.compiler.category.optimization"
                 id="gnu.cpp.compiler.option.optimization.flags"
                 name="%Option.Posix.Optimize.Flags"
                 valueType="string">
           </option>
           <optionCategory
                 id="gnu.cpp.compiler.category.debug"
                 name="%OptionCategory.Debug"
                 owner="cdt.managedbuild.tool.gnu.cpp.compiler">
           </optionCategory>
           <option
                 category="gnu.cpp.compiler.category.debug"
                 id="gnu.cpp.compiler.option.debugging.level"
                 name="%Option.Posix.DebugLevel"
                 valueType="enumerated">
              <enumeratedOptionValue
                    id="gnu.cpp.compiler.debugging.level.none"
                    name="%Option.Posix.Debug.None">
              </enumeratedOptionValue>
              <enumeratedOptionValue
                    command="-g1"
                    id="gnu.cpp.compiler.debugging.level.minimal"
                    name="%Option.Posix.Debug.Min">
              </enumeratedOptionValue>
              <enumeratedOptionValue
                    command="-g"
                    id="gnu.cpp.compiler.debugging.level.default"
                    name="%Option.Posix.Debug.Def">
              </enumeratedOptionValue>
              <enumeratedOptionValue
                    command="-g3"
                    id="gnu.cpp.compiler.debugging.level.max"
                    name="%Option.Posix.Debug.Max">
              </enumeratedOptionValue>
           </option>
           <option
                 category="gnu.cpp.compiler.category.debug"
                 id="gnu.cpp.compiler.option.debugging.other"
                 name="%Option.Posix.Debug.Other"
                 valueType="string">
           </option>
           <option
                 category="gnu.cpp.compiler.category.debug"
                 command="-p"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.debugging.prof"
                 name="%Option.Posix.Debug.prof"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.debug"
                 command="-pg"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.debugging.gprof"
                 name="%Option.Posix.Debug.gprof"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.debug"
                 command="-ftest-coverage -fprofile-arcs"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.debugging.codecov"
                 name="%Option.codecov"
                 tip="%Option.codecovTip"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.debug"
                 command="-fsanitize=address"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.debugging.sanitaddress"
                 name="%Option.Posix.Debug.sanitaddress"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.debug"
                 command="-fsanitize=pointer-compare -fsanitize=pointer-subtract"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.debugging.sanitpointers"
                 name="%Option.Posix.Debug.sanitpointers"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.debug"
                 command="-fsanitize=thread"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.debugging.sanitthread"
                 name="%Option.Posix.Debug.sanitthread"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.debug"
                 command="-fsanitize=leak"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.debugging.sanitleak"
                 name="%Option.Posix.Debug.sanitleak"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.debug"
                 command="-fsanitize=undefined"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.debugging.sanitundef"
                 name="%Option.Posix.Debug.sanitundefined"
                 valueType="boolean">
           </option>
           <optionCategory
                 id="gnu.cpp.compiler.category.warnings"
                 name="%OptionCategory.Warn"
                 owner="cdt.managedbuild.tool.gnu.cpp.compiler">
           </optionCategory>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-fsyntax-only"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.syntax"
                 name="%Option.Posix.Warn.Syntax"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-pedantic"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.pedantic"
                 name="%Option.Posix.Warn.Pedandic"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-pedantic-errors"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.pedantic.error"
                 name="%Option.Posix.Warn.PedErrors"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-w"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.nowarn"
                 name="%Option.Posix.Warn.nowarn"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wall"
                 id="gnu.cpp.compiler.option.warnings.allwarn"
                 name="%Option.Posix.Warn.allwarn"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wextra"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.extrawarn"
                 name="%Option.Posix.Warn.extrawarn"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Werror"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.toerrors"
                 name="%Option.Posix.Warn.toerrs"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wconversion"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.wconversion"
                 name="%Option.Posix.Warn.wconversion"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wcast-align"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.wcastalign"
                 name="%Option.Posix.Warn.wcastalign"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wcast-qual"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.wcastqual"
                 name="%Option.Posix.Warn.wcastqual"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wctor-dtor-privacy"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.wctordtorprivacy"
                 name="%Option.Posix.Warn.wctordtorprivacy"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wdisabled-optimization"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.wdisabledopt"
                 name="%Option.Posix.Warn.wdisabledopt"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wlogical-op"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.wlogicalop"
                 name="%Option.Posix.Warn.wlogicalop"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wmissing-declarations"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.wmissingdecl"
                 name="%Option.Posix.Warn.wmissingdecl"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wmissing-include-dirs"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.wmissingincdir"
                 name="%Option.Posix.Warn.wmissingincdir"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wnoexcept"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.wnoexccept"
                 name="%Option.Posix.Warn.wnoexccept"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wold-style-cast"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.woldstylecast"
                 name="%Option.Posix.Warn.woldstylecast"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Woverloaded-virtual"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.woverloadedvirtual"
                 name="%Option.Posix.Warn.woverloadedvirtual"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wredundant-decls"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.wredundantdecl"
                 name="%Option.Posix.Warn.wredundantdecl"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wshadow"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.wshadow"
                 name="%Option.Posix.Warn.wshadow"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wsign-conversion"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.wsignconv"
                 name="%Option.Posix.Warn.wsignconv"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wsign-promo"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.wsignpromo"
                 name="%Option.Posix.Warn.wsignpromo"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wstrict-null-sentinel"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.wstrictnullsent"
                 name="%Option.Posix.Warn.wstrictnullsent"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wswitch-default"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.wswitchdef"
                 name="%Option.Posix.Warn.wswitchdef"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wundef"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.wundef"
                 name="%Option.Posix.Warn.wundef"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Weffc++"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.weffcpp"
                 name="%Option.Posix.Warn.weffcpp"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.warnings"
                 command="-Wfloat-equal"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.warnings.wfloatequal"
                 name="%Option.Posix.Warn.wfloatequal"
                 valueType="boolean">
           </option>
           <optionCategory
                 id="gnu.cpp.compiler.category.other"
                 name="%OptionCategory.Misc"
                 owner="cdt.managedbuild.tool.gnu.cpp.compiler">
           </optionCategory>
           <option
                 category="gnu.cpp.compiler.category.other"
                 command="-v"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.other.verbose"
                 name="%Option.Posix.Verbose"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.other"
                 command="-fPIC"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.other.pic"
                 name="%Option.PIC"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.other"
                 command="-fstack-protector-all -Wformat=2 -Wformat-security -Wstrict-overflow"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.misc.hardening"
                 name="%Option.Security"
                 valueType="boolean">
           </option>
           <option
                 category="gnu.cpp.compiler.category.other"
                 command="-fPIE"
                 defaultValue="false"
                 id="gnu.cpp.compiler.option.misc.randomization"
                 name="%Option.Randomization"
                 valueType="boolean">
           </option>
           <inputType
                 id="cdt.managedbuild.tool.gnu.cpp.compiler.input.test"
                 superClass="cdt.managedbuild.tool.gnu.cpp.compiler.input">
           </inputType>
           <outputType
                 id="cdt.managedbuild.tool.gnu.cpp.compiler.output.test"
                 superClass="cdt.managedbuild.tool.gnu.cpp.compiler.output">
           </outputType>
        </tool>
     </toolChain>
  </projectType>

	</extension>
<extension
            point="io.sloeber.autoBuild.templateCodeProvider">
         <templateCode
               CodeLocation="templates/compound"
               SupportedArtifactTypes="org.eclipse.cdt.build.core.buildArtefactType.exe"
               cCodeOnly="false"
               description="A project that builds libraries and executable in one go. Needs the compound project to work properly."
               id="io.sloeber.autoBuild.templateCode.compound"
               isTest="false"
               name="compound project">
         </templateCode>
         <templateCode
               CodeLocation="templates/c_exe"
               SupportedArtifactTypes="org.eclipse.cdt.build.core.buildArtefactType.exe"
               cCodeOnly="true"
               description="A test project for exe target only containing c code"
               id="io.sloeber.autoBuild.templateCode.c.exe"
               isTest="false"
               name="c only exe project">
         </templateCode>
         <templateCode
               CodeLocation="templates/c_lib"
               cCodeOnly="true"
               description="C only lib code for testing"
               id="io.sloeber.autoBuild.templateCode.c.lib"
               isTest="false"
               name="C only library code">
         </templateCode>
         <templateCode
               CodeLocation="templates/exe"
               SupportedArtifactTypes="org.eclipse.cdt.build.core.buildArtefactType.exe"
               cCodeOnly="false"
               description="A test project for exe target only containing cpp code"
               id="io.sloeber.autoBuild.templateCode.cpp.exe"
               isTest="false"
               name="cpp exe project">
         </templateCode>
         <templateCode
               CodeLocation="templates/lib"
               cCodeOnly="false"
               description="Cpp lib code for testing"
               id="io.sloeber.autoBuild.templateCode.cpp.lib"
               isTest="false"
               name="Cpp library code">
         </templateCode>
      </extension>
 
</plugin>



		
		
