body {
  font-family: 'Open Sans', serif;

  padding-top: 70px;
  padding-bottom: 30px;
}

.navbar {
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-nav {
  font-weight: 700;
}

.jumbotron {
  margin-top: -50px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}