html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', serif;
  padding-top: 70px;
  padding-bottom: 30px;
  margin-bottom: 80px;
}

.nav, .pagination, .carousel, .panel-title a, tr.clickable { cursor: pointer; }

.navbar {
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-nav {
  font-weight: 700;
}

.jumbotron {
  margin-top: -50px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.dropdown-header {
  padding-left: 10px;
  c: #423D78;
  c2: #837EAB;
  color: #000000;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #FFFF00;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}