<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
   <extension-point id="io.sloeber.autoBuild.buildDefinitions" name="sloeber autoBuild" schema="schema/buildDefinitions.exsd"/>
 
 
	<extension id="io.sloeber.builddef"
        point="io.sloeber.autoBuild.buildDefinitions"
		name="%extension.name.0" >
		

<!-- 
####################################################################################### 
#    AVR-GCC Compiler                                                                  # 
####################################################################################### 
-->
		<builder
        autoBuildTarget="all"
        buildRunner="io.sloeber.autoBuild.extensionPoint.BuildRunner"
        buildfileGenerator="io.sloeber.autoBuild.extensionPoint.MakefileGenerator"
        cleanBuildTarget="clean"
        command="${MAKE_HOME}make"
        errorParsers="org.eclipse.cdt.core.MakeErrorParser"
        id="io.sloeber.gnu.builder"
        ignoreErrCmd="-k"
        incrementalBuildTarget="all"
        isAbstract="true"
        isVariableCaseSensitive="true"
        macroInputDirRelPathValue="$(dir $&lt;)"
        macroInputFileBaseNameValue="$(basename $(notdir $&lt;))"
        macroInputFileExtValue="$(suffix $(notdir $&lt;))"
        macroInputFileNameValue="$(notdir $&lt;)"
        macroInputFileRelPathValue="$&lt;"
        macroOutputDirRelPathValue="$(dir $@)"
        macroOutputFileBaseNameValue="$(basename (notdir $@))"
        macroOutputFileExtValue="$(suffix $(notdir $@)"
        macroOutputFileNameValue="$(notdir $@)"
        macroOutputFileRelPathValue="$@"
        name="%toolchain.builder.name"
        parallelBuildCmd="-j*"
        reservedMacroNames="ROOT,DEPS,OBJS,.*_SRCS,EXECUTABLES,SUBDIRS,LIBS,USER_OBJS,.*_INPUTS,.*_OUTPUTS"
        variableFormat="${=}">
  </builder>
  <projectType
        id="io.sloeber.core.sketch"
        name="%projectType.name">
     
     <!-- This config and toolchain 'Release' is the standard "just like Arduino IDE" configuration. -->
     <!-- It is also used for the base of the Debug configuration (for use with a JTAG/DragonAVR etc). -->
     <!-- TODO: Consider renaming as base. -->
     <configuration
           cleanCommand="rm -f"
           id="io.sloeber.core.configuration.release"
           languageSettingsProviders="io.sloeber.languageSettingsProvider"
           name="%configuration.name">
        <toolChain
              archList="all"
              environmentSupplier="io.sloeber.autoBuild.core.DefaultConfigurationEnvironmentVariableSupplier"
              id="io.sloeber.core.toolChain.release"
              isAbstract="false"
              languageSettingsProviders="io.sloeber.languageSettingsProvider"
              name="%toolChain.name"
              osList="all"
              targetTool="io.sloeber.tool.size">
           <targetPlatform
                 archList="all"
                 binaryParser="org.eclipse.cdt.core.ELF"
                 id="io.sloeber.targetplatform"
                 name="%targetPlatform.name"
                 osList="all">
           </targetPlatform>
           <builder
                 id="io.sloeber.sketch.builder"
                 name="%toolchain.gnu.builder.name"
                 superClass="io.sloeber.gnu.builder">
           </builder>
           <optionCategory
                 id="io.sloeber.core.optionCategory.includePaths"
                 name="%optionCategory.include.name">
           </optionCategory>
           <tool
                 announcement="%tool.Arduino.CPP.announcement"
                 command="${recipe.cpp.o.pattern}"
                 commandLinePattern="recipe.cpp.o.pattern"
                 errorParsers="org.eclipse.cdt.core.GCCErrorParser"
                 id="io.sloeber.tool.sketch.compiler.cpp"
                 name="%tool.Arduino.CPP2O.name"
                 natureFilter="both">
              <optionCategory
                    id="io.sloeber.core.cpp.optionCategory.includePaths"
                    name="%optionCategory.include.name">
              </optionCategory>
              <option
                    browseType="directory"
                    category="io.sloeber.core.cpp.optionCategory.includePaths"
                    command="-I"
                    id="io.sloeber.compiler.cpp.sketch.option.incpath"
                    name="%option.include.path.name"
                    resourceFilter="project"
                    valueType="includePath">
              </option>
              <inputType
                    buildVariable="CPP_SKETCH_FILES"
                    dependencyCalculator="io.sloeber.core.toolchain.ArduinoDependencyCalculator"
                    dependencyContentType="org.eclipse.cdt.core.cxxHeader"
                    id="io.sloeber.compiler.cpp.sketch.input"
                    name="%inputType.CPP.name"
                    primaryInput="true"
                    sourceContentType="org.eclipse.cdt.core.cxxSource">
              </inputType>
              <outputType
                    buildVariable="LINK_OBJ"
                    id="io.sloeber.compiler.cpp.sketch.link.output"
                    name="%outputType.CPP.link.name"
                    nameProvider="io.sloeber.autoBuild.Internal.LinkNameProvider"
                    outputs="o"
                    primaryOutput="true">
              </outputType>
              <outputType
                    buildVariable="AR_OBJ"
                    id="io.sloeber.compiler.cpp.ar.output"
                    name="%outputType.CPP.AR.name"
                    nameProvider="io.sloeber.autoBuild.Internal.ArchiveNameProvider"
                    outputs="o"
                    primaryOutput="true">
              </outputType>
           </tool>
           <tool
                 announcement="%tool.Arduino.C.announcement"
                 command="${recipe.c.o.pattern}"
                 commandLinePattern="recipe.c.o.pattern"
                 errorParsers="org.eclipse.cdt.core.GCCErrorParser"
                 id="io.sloeber.tool.compiler.c"
                 name="%tool.Arduino.C2O.name"
                 natureFilter="both">
              <optionCategory
                    id="io.sloeber.core.c.optionCategory.includePaths"
                    name="%optionCategory.include.name">
              </optionCategory>
              <option
                    browseType="directory"
                    category="io.sloeber.core.c.optionCategory.includePaths"
                    command="-I"
                    id="io.sloeber.compiler.c.sketch.option.incpath"
                    name="%option.include.path.name"
                    resourceFilter="project"
                    valueType="includePath">
              </option>
              <inputType
                    buildVariable="C_SKETCH_FILES"
                    dependencyCalculator="io.sloeber.core.toolchain.ArduinoDependencyCalculator"
                    dependencyContentType="org.eclipse.cdt.core.cHeader"
                    id="io.sloeber.compiler.c.sketch.input"
                    multipleOfType="false"
                    name="%inputType.C.name"
                    primaryInput="true"
                    sourceContentType="org.eclipse.cdt.core.cSource">
              </inputType>
              <outputType
                    buildVariable="LINK_OBJ"
                    id="io.sloeber.compiler.c.link.output"
                    name="%outputType.C.link.name"
                    nameProvider="io.sloeber.autoBuild.Internal.LinkNameProvider"
                    outputs="O"
                    primaryOutput="true">
              </outputType>
              <outputType
                    buildVariable="AR_OBJ"
                    id="io.sloeber.compiler.c.ar.output"
                    name="%outputType.C.AR.name"
                    nameProvider="io.sloeber.autoBuild.Internal.ArchiveNameProvider"
                    outputs="o"
                    primaryOutput="true">
              </outputType>
           </tool>
           <tool
                 announcement="%tool.Arduino.S.announcement"
                 command="${recipe.S.o.pattern}"
                 commandLinePattern="recipe.S.o.pattern"
                 errorParsers="org.eclipse.cdt.core.GCCErrorParser"
                 id="io.sloeber.tool.sketch.compiler.s"
                 name="%tool.Arduino.S20.name"
                 natureFilter="both">
              <optionCategory
                    id="io.sloeber.core.asm.optionCategory.includePaths"
                    name="%optionCategory.include.name">
              </optionCategory>
              <option
                    browseType="directory"
                    category="io.sloeber.core.asm.optionCategory.includePaths"
                    command="-I"
                    id="io.sloeber.compiler.asm.sketch.option.incpath"
                    name="%option.include.path.name"
                    resourceFilter="project"
                    valueType="includePath">
              </option>
              <inputType
                    buildVariable="S_SKETCH_FILES"
                    dependencyCalculator="io.sloeber.core.toolchain.ArduinoDependencyCalculator"
                    dependencyContentType="org.eclipse.cdt.core.cxxHeader"
                    id="io.sloeber.compiler.S.sketch.input"
                    name="%inputType.Asembly.name"
                    primaryInput="false"
                    sourceContentType="org.eclipse.cdt.core.asmSource">
              </inputType>
              <outputType
                    buildVariable="LINK_OBJ"
                    id="io.sloeber.compiler.S.sketch.link.output"
                    name="%outputType.S.link.name"
                    nameProvider="io.sloeber.autoBuild.Internal.LinkNameProvider"
                    outputs="o"
                    primaryOutput="true">
              </outputType>
              <outputType
                    buildVariable="AR_OBJ"
                    id="io.sloeber.compiler.S.ar.output"
                    name="%outputType.S.AR.name"
                    nameProvider="io.sloeber.autoBuild.Internal.ArchiveNameProvider"
                    outputs="o"
                    primaryOutput="true">
              </outputType>
           </tool>
           <tool
                 announcement="%tool.Arduino.archiver.announcement"
                 command="${recipe.ar.pattern}"
                 commandLinePattern="recipe.ar.pattern"
                 errorParsers="org.eclipse.cdt.core.GLDErrorParser"
                 id="io.sloeber.tool.ar"
                 name="%tool.archiver.name">
              <outputType
                    buildVariable="AR"
                    id="io.sloeber.tool.archiver.output"
                    name="%outputType.archiver.name"
                    outputNames="${archive_file_path}"
                    outputs="ar"
                    primaryOutput="true">
              </outputType>
              <inputType
                    buildVariable="AR_OBJ"
                    id="io.sloeber.tool.archiver.input"
                    multipleOfType="true"
                    name="%inputType.archiver.name"
                    primaryInput="false"
                    sources="o">
              </inputType>
           </tool>
           <tool
                 announcement="%tool.Arduino.combiner.announcement"
                 command="${recipe.c.combine.pattern}"
                 commandLinePattern="recipe.c.combine.pattern"
                 errorParsers="org.eclipse.cdt.core.GLDErrorParser"
                 id="io.sloeber.tool.combine"
                 name="%tool.combiner.name"
                 natureFilter="both">
              <outputType
                    buildVariable="ELF"
                    id="io.sloeber.tool.combiner.output"
                    name="%outputType.elf.name"
                    outputNames="${ProjName}.elf"
                    outputs="elf"
                    primaryOutput="true">
              </outputType>
                            <inputType
                    buildVariable="LINK_OBJ"
                    id="io.sloeber.tool.combiner.ob.input"
                    multipleOfType="true"
                    name="%inputType.linker.name"
                    primaryInput="true"
                    sources="O">
              </inputType>
              <inputType
                    buildVariable="AR"
                    id="io.sloeber.tool.combiner.ar.input"
                    multipleOfType="true"
                    name="Build Archives"
                    option="ARCHIVES"
                    primaryInput="false"
                    sources="ar">
              </inputType>
           </tool>
           <tool
                 announcement="%tool.obcopy.announcement"
                 command="all objcopy commands"
                 commandLinePattern="${sloeber.objcopy}"
                 id="io.sloeber.tool.objcopy.eep"
                 isAbstract="false"
                 name="%tool.objcopy.name"
                 natureFilter="both">
              <inputType
                    buildVariable="ELF"
                    dependencyExtensions="elf"
                    id="io.sloeber.tool.objcopy.eep.input"
                    multipleOfType="true"
                    name="%inputType.objcopy.name"
                    primaryInput="true"
                    sourceContentType="io.sloeber.tool.combiner.output"
                    sources="elf">
              </inputType>
              <outputType
                    buildVariable="HEX"
                    id="io.sloeber.tool.objcopy.output"
                    multipleOfType="false"
                    name="%outputType.hexdump.name"
                    outputNames="${ProjName}.hex"
                    outputs="hex">
              </outputType>
           </tool>
           <tool
                 announcement="%tool.printsize.announcement"
                 command="${sloeber.size.switch} "
                 commandLinePattern="${sloeber.size.switch} "
                 id="io.sloeber.tool.size"
                 isAbstract="false"
                 name="%tool.printsize.name">
              <inputType
                    buildVariable="HEX"
                    dependencyExtensions="hex"
                    id="io.sloeber.tool.size.input"
                    multipleOfType="true"
                    primaryInput="true"
                    sourceContentType="io.sloeber.tool.objcopy.output"
                    sources="hex">
              </inputType>
              <outputType
                    buildVariable="SIZEDUMMY"
                    id="io.sloeber.tool.size.output"
                    multipleOfType="false"
                    name="size info"
                    outputNames="${ProjName}.size"
                    outputs="size"
                    primaryOutput="false">
              </outputType>
           </tool>
        </toolChain>
        <folderInfo
              exclude="true"
              resourcePath="libraries/?*/**/?xamples/**">
        </folderInfo>
        <folderInfo
              exclude="true"
              resourcePath="libraries/?*/**/?xtras/**">
        </folderInfo>
        <folderInfo
              exclude="true"
              resourcePath="libraries/?*/**/test*/**">
        </folderInfo>
        <folderInfo
              exclude="true"
              resourcePath="libraries/?*/**/third-party/**">
        </folderInfo>
        <folderInfo
              exclude="true"
              resourcePath="libraries/**/._*">
        </folderInfo>
        <folderInfo
              exclude="true"
              resourcePath="libraries/?*/utility/*/*">
        </folderInfo>
     </configuration>
  </projectType>

	</extension>

 <extension
       point="org.eclipse.cdt.make.core.MakeTargetBuilder">
    <builder
          builderID="io.sloeber.ManagedBuild.builder1"
          id="io.sloeber.ManagedBuild.builder1">
    </builder>
 </extension>
 <extension
       id="io.sloeber.autoBuildNature"
       name="auto Build Nature by Sloeber"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="io.sloeber.autoBuild.integration.AutoBuildNature">
       </run>
    </runtime>
    <builder
          id="io.sloeber.autoBuild.AutoMakeBuilder">
    </builder>
    <requires-nature
          id="org.eclipse.cdt.core.cnature">
    </requires-nature>
 </extension>
 <extension
       id="io.sloeber.autoBuild.AutoMakeBuilder"
       name="Make builder with automagically created makefile"
       point="org.eclipse.core.resources.builders">
    <builder
          callOnEmptyDelta="false"
          hasNature="true"
          isConfigurable="false"
          supportsConfigurations="true">
       <run
             class="io.sloeber.autoBuild.integration.CommonBuilder">
       </run>
    </builder>
 </extension>
 <extension
       id="io.sloeber.autoBuild.ConfigurationDataProvider"
       point="org.eclipse.cdt.core.CConfigurationDataProvider">
    <provider
          class="io.sloeber.autoBuild.integration.ConfigurationDataProvider">
    </provider>
 </extension>
 
 <extension
       id="cdt.autotools.core.managed.build.info"
       name="Autotools Managed Build Info"
       point="io.sloeber.autoBuild.buildDefinitions">
    <managedBuildRevision
          fileVersion="4.0.0">
    </managedBuildRevision>
    <tool
          command="configure"
          id="org.eclipse.linuxtools.cdt.autotools.core.tool.configure"
          isAbstract="false"
          name="%Tool.configure"
          natureFilter="both"
          supportsManagedBuild="false">
       <optionCategory
             id="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.general"
             name="%OptionCategory.configure.general"
             owner="org.eclipse.linuxtools.cdt.autotools.core.tool.configure">
       </optionCategory>
       <option
             applicabilityCalculator="org.eclipse.cdt.internal.autotools.core.configure.AutotoolsOptionValueHandler"
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.general"
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.name"
             isAbstract="false"
             name="%Option.configure.name"
             resourceFilter="all"
             valueHandler="org.eclipse.cdt.internal.autotools.core.configure.AutotoolsOptionValueHandler"
             valueType="string">
       </option>
       <option
             applicabilityCalculator="org.eclipse.cdt.internal.autotools.core.configure.AutotoolsOptionValueHandler"
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.general"
             defaultValue="build"
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.builddir"
             isAbstract="false"
             name="%Option.configure.builddir"
             resourceFilter="all"
             tip="%Option.configure.builddir.tip"
             valueHandler="org.eclipse.cdt.internal.autotools.core.configure.AutotoolsOptionValueHandler"
             valueType="string">
       </option>
       <option
             applicabilityCalculator="org.eclipse.cdt.internal.autotools.core.configure.AutotoolsOptionValueHandler"
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.general"
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.configdir"
             isAbstract="false"
             name="%Option.configure.configdir"
             resourceFilter="all"
             tip="%Option.configure.configdir.tip"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.general"
             command="--cache-file="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.cache_file"
             isAbstract="false"
             name="%Option.configure.cache_file"
             resourceFilter="all"
             tip="%Option.configure.cache_file.tip"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.general"
             command="--help"
             defaultValue="false"
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.help"
             isAbstract="false"
             name="%Option.configure.help"
             resourceFilter="all"
             tip="%Option.configure.help.tip"
             valueType="boolean">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.general"
             command="--no-create"
             defaultValue="false"
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.no_create"
             isAbstract="false"
             name="%Option.configure.no_create"
             resourceFilter="all"
             tip="%Option.configure.no_create.tip"
             valueType="boolean">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.general"
             command="--quiet"
             defaultValue="false"
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.quiet"
             isAbstract="false"
             name="%Option.configure.quiet"
             resourceFilter="all"
             tip="%Option.configure.quiet.tip"
             valueType="boolean">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.general"
             command="--version"
             defaultValue="false"
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.version"
             isAbstract="false"
             name="%Option.configure.version"
             resourceFilter="all"
             tip="%Option.configure.version.tip"
             valueType="boolean">
       </option>
       <optionCategory
             id="org.eclipse.linuxtools.cdt.autotools.core.configure.optionCategory.configure.platform"
             name="%OptionCategory.configure.platform"
             owner="org.eclipse.linuxtools.cdt.autotools.core.tool.configure">
       </optionCategory>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.configure.optionCategory.configure.platform"
             command="--host="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.host"
             isAbstract="false"
             name="%Option.configure.host"
             resourceFilter="all"
             tip="%Option.configure.host.tip"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.configure.optionCategory.configure.platform"
             command="--target="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.target"
             isAbstract="false"
             name="%Option.configure.target"
             resourceFilter="all"
             tip="%Option.configure.target.tip"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.configure.optionCategory.configure.platform"
             command="--build="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.build"
             isAbstract="false"
             name="%Option.configure.build"
             resourceFilter="all"
             tip="%Option.configure.build.tip"
             valueType="string">
       </option>
       <optionCategory
             id="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.directories"
             name="%OptionCategory.configure.directories"
             owner="org.eclipse.linuxtools.cdt.autotools.core.tool.configure">
       </optionCategory>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.directories"
             command="--prefix="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.prefix"
             isAbstract="false"
             name="%Option.configure.prefix"
             resourceFilter="all"
             tip="%Option.configure.prefix.tip"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.directories"
             command="--exec-prefix="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.exec_prefix"
             isAbstract="false"
             name="%Option.configure.exec_prefix"
             resourceFilter="all"
             tip="%Option.configure.exec_prefix.tip"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.directories"
             command="--libdir="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.libdir"
             isAbstract="false"
             name="%Option.configure.libdir"
             resourceFilter="all"
             tip="%Option.configure.libdir.tip"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.directories"
             command="--bindir="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.bindir"
             isAbstract="false"
             name="%Option.configure.bindir"
             resourceFilter="all"
             tip="%Option.configure.bindir.tip"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.directories"
             command="--sbindir="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.sbindir"
             isAbstract="false"
             name="%Option.configure.sbindir"
             resourceFilter="all"
             tip="%Option.configure.sbindir.tip"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.directories"
             command="--includedir="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.includedir"
             isAbstract="false"
             name="%Option.configure.includedir"
             resourceFilter="all"
             tip="%Option.configure.includedir.tip"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.directories"
             command="--datadir="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.datadir"
             isAbstract="false"
             name="%Option.configure.datadir"
             resourceFilter="all"
             tip="%Option.configure.datadir.tip"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.directories"
             command="--sysconfdir="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.sysconfdir"
             isAbstract="false"
             name="%Option.configure.sysconfdir"
             resourceFilter="all"
             tip="%Option.configure.sysconfdir.tip"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.directories"
             command="--infodir="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.infodir"
             isAbstract="false"
             name="%Option.configure.infodir"
             resourceFilter="all"
             tip="%Option.configure.infodir.tip"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.directories"
             command="--mandir="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.mandir"
             isAbstract="false"
             name="%Option.configure.mandir"
             resourceFilter="all"
             tip="%Option.configure.mandir.tip"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.directories"
             command="--srcdir="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.srcdir"
             isAbstract="false"
             name="%Option.configure.srcdir"
             resourceFilter="all"
             tip="%Option.configure.srcdir.tip"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.directories"
             command="--localstatedir="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.localstatedir"
             isAbstract="false"
             name="%Option.configure.localstatedir"
             resourceFilter="all"
             tip="%Option.configure.localstatedir"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.directories"
             command="--sharedstatedir="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.sharedstatedir"
             isAbstract="false"
             name="%Option.configure.sharedstatedir"
             resourceFilter="all"
             tip="%Option.configure.sharedstatedir"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.directories"
             command="--libexecdir="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.libexecdir"
             isAbstract="false"
             name="%Option.configure.libexecdir"
             resourceFilter="all"
             tip="%Option.configure.libexecdir"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.directories"
             command="--oldincludedir="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.oldincludedir"
             isAbstract="false"
             name="%Option.configure.oldincludedir"
             resourceFilter="all"
             tip="%Option.configure.oldincludedir.tip"
             valueType="string">
       </option>
       <optionCategory
             id="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.filenames"
             name="%OptionCategory.configure.filenames"
             owner="org.eclipse.linuxtools.cdt.autotools.core.tool.configure">
       </optionCategory>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.filenames"
             command="--program-prefix="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.program_prefix"
             isAbstract="false"
             name="%Option.configure.program_prefix"
             resourceFilter="all"
             tip="%Option.configure.program_prefix.tip"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.filenames"
             command="--program-suffix="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.program_suffix"
             isAbstract="false"
             name="%Option.configure.program_suffix"
             resourceFilter="all"
             tip="%Option.configure.program_suffix.tip"
             valueType="string">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.filenames"
             command="--program-transform-name="
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.program_transform_name"
             isAbstract="false"
             name="%Option.configure.program_transform_name"
             resourceFilter="all"
             tip="%Option.configure.program_transform_name.tip"
             valueType="string">
       </option>
       <optionCategory
             id="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.features"
             name="%OptionCategory.configure.features"
             owner="org.eclipse.linuxtools.cdt.autotools.core.tool.configure">
       </optionCategory>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.features"
             command="--enable-maintainer-mode"
             defaultValue="false"
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.enable_maintainer_mode"
             isAbstract="false"
             name="%Option.configure.enable_maintainer_mode"
             resourceFilter="all"
             tip="%Option.configure.enable_maintainer_mode.tip"
             valueType="boolean">
       </option>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.configure.features"
             id="org.eclipse.linuxtools.cdt.autotools.core.option.configure.user"
             isAbstract="false"
             name="%Option.configure.user"
             resourceFilter="all"
             tip="%Option.configure.user.tip"
             valueType="string">
          <enablement
                attribute="defaultValue"
                extensionAdjustment="false"
                type="CONTAINER_ATTRIBUTE"
                value="CFLAGS=-g -O0">
             <checkBuildProperty
                   property="org.eclipse.cdt.build.core.buildType"
                   value="org.eclipse.linuxtools.cdt.autotools.core.buildType.debug">
             </checkBuildProperty>
          </enablement>
       </option>
       <outputType
             id="org.eclipse.linuxtools.cdt.autotools.core.outputType.configure"
             name="%Configure.outputType"
             outputs="status"
             primaryOutput="true">
       </outputType>
       <inputType
             id="org.eclipse.linuxtools.cdt.autotools.core.inputType.configure"
             multipleOfType="false"
             sourceContentType="org.eclipse.linuxtools.cdt.autotools.core.configureScript">
       </inputType>
    </tool>
    <tool
          command="autogen.sh"
          id="org.eclipse.linuxtools.cdt.autotools.core.tool.autogen"
          isAbstract="false"
          name="%Tool.autogen"
          natureFilter="both"
          supportsManagedBuild="false">
       <optionCategory
             id="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.autogen.general"
             name="%OptionCategory.autogen.general"
             owner="org.eclipse.linuxtools.cdt.autotools.core.tool.autogen">
       </optionCategory>
       <option
             category="org.eclipse.linuxtools.cdt.autotools.core.optionCategory.autogen.general"
             id="org.eclipse.linuxtools.cdt.autotools.core.option.autogen.user"
             isAbstract="false"
             name="%Option.autogen.user"
             resourceFilter="all"
             tip="%Option.autogen.user.tip"
             valueType="string">
       </option>
       <outputType
             id="org.eclipse.linuxtools.cdt.autotools.core.outputType.autogen"
             name="%Autogen.outputType"
             outputNames="configure"
             primaryOutput="true">
       </outputType>
       <inputType
             id="org.eclipse.linuxtools.cdt.autotools.core.inputType.autogen"
             multipleOfType="false"
             sourceContentType="org.eclipse.linuxtools.cdt.autotools.core.autogenScript">
       </inputType>
    </tool>
    <targetPlatform
          archList="all"
          binaryParser="org.eclipse.cdt.core.GNU_ELF;org.eclipse.cdt.core.ELF;org.eclipse.cdt.core.MachO64;org.eclipse.cdt.core.PE;org.eclipse.cdt.core.Cygwin_PE"
          id="org.eclipse.linuxtools.cdt.autotools.core.targetPlatform"
          isAbstract="false"
          name="%Autotools.targetplatform.name">
    </targetPlatform>
    <projectType
          buildArtefactType="org.eclipse.linuxtools.cdt.autotools.core.buildArtefactType.autotools"
          id="org.eclipse.linuxtools.cdt.autotools.core.projectType"
          isAbstract="false">
       <configuration
             buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.linuxtools.cdt.autotools.core.buildType.default"
             cleanCommand="rm -rf"
             errorParsers="org.eclipse.cdt.core.CWDLocator;org.eclipse.cdt.core.GmakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser"
             id="org.eclipse.linuxtools.cdt.autotools.core.configuration.build"
             languageSettingsProviders="org.eclipse.cdt.ui.UserLanguageSettingsProvider;org.eclipse.cdt.core.ReferencedProjectsLanguageSettingsProvider;org.eclipse.cdt.managedbuilder.core.MBSLanguageSettingsProvider;${Toolchain}"
             name="%Configuration.build.name">
          <toolChain
                archList="all"
                configurationEnvironmentSupplier="org.eclipse.cdt.internal.autotools.core.AutotoolsEnvironmentVariableSupplier"
                id="org.eclipse.linuxtools.cdt.autotools.core.toolChain"
                languageSettingsProviders="org.eclipse.cdt.autotools.core.LibtoolGCCBuildCommandParser;org.eclipse.cdt.managedbuilder.core.GCCBuiltinSpecsDetector"
                name="%Autotools.gnu.toolchain.name"
                supportsManagedBuild="false"
                targetTool="org.eclipse.linuxtools.cdt.autotools.core.tool.configure">
             <tool
                   id="org.eclipse.linuxtools.cdt.autotools.core.gnu.toolchain.tool.configure"
                   isAbstract="false"
                   natureFilter="both"
                   superClass="org.eclipse.linuxtools.cdt.autotools.core.tool.configure">
             </tool>
             <tool
                   id="org.eclipse.linuxtools.cdt.autotools.core.toolchain.tool.autogen"
                   isAbstract="false"
                   natureFilter="both"
                   superClass="org.eclipse.linuxtools.cdt.autotools.core.tool.autogen">
             </tool>
             <tool
                   id="org.eclipse.linuxtools.cdt.autotools.core.toolchain.tool.gcc"
                   isAbstract="false"
                   superClass="cdt.managedbuild.tool.gnu.c.compiler">
             </tool>
             <tool
                   id="org.eclipse.linuxtools.cdt.autotools.core.toolchain.tool.gpp"
                   isAbstract="false"
                   superClass="cdt.managedbuild.tool.gnu.cpp.compiler">
             </tool>
             <targetPlatform
                   id="org.eclipse.linuxtools.cdt.autotools.core.toolchain.targetPlatform"
                   isAbstract="false"
                   name="%Autotools.targetplatform.name"
                   superClass="org.eclipse.linuxtools.cdt.autotools.core.targetPlatform">
             </targetPlatform>
             <builder
                   id="org.eclipse.linuxtools.cdt.autotools.core.toolchain.builder"
                   isAbstract="false"
                   isVariableCaseSensitive="false"
                   name="%Makefile.builder.name">
             </builder>
             <supportedProperties>
                <property
                      id="org.eclipse.cdt.build.core.buildArtefactType">
                   <value
                         id="org.eclipse.linuxtools.cdt.autotools.core.buildArtefactType.autotools">
                   </value>
                </property>
             </supportedProperties>
          </toolChain>
       </configuration>
       <configuration
             buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.linuxtools.cdt.autotools.core.buildType.debug"
             cleanCommand="rm -rf"
             errorParsers="org.eclipse.cdt.core.CWDLocator;org.eclipse.cdt.core.GmakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser"
             id="org.eclipse.linuxtools.cdt.autotools.core.configuration.build.debug"
             languageSettingsProviders="org.eclipse.cdt.ui.UserLanguageSettingsProvider;org.eclipse.cdt.core.ReferencedProjectsLanguageSettingsProvider;org.eclipse.cdt.managedbuilder.core.MBSLanguageSettingsProvider;${Toolchain}"
             name="%Configuration.debug.name">
          <toolChain
                archList="all"
                configurationEnvironmentSupplier="org.eclipse.cdt.internal.autotools.core.AutotoolsEnvironmentVariableSupplier"
                id="org.eclipse.linuxtools.cdt.autotools.core.toolChain.debug"
                languageSettingsProviders="org.eclipse.cdt.autotools.core.LibtoolGCCBuildCommandParser;org.eclipse.cdt.managedbuilder.core.GCCBuiltinSpecsDetector"
                name="%Autotools.gnu.toolchain.name"
                supportsManagedBuild="false"
                targetTool="org.eclipse.linuxtools.cdt.autotools.core.tool.configure">
             <tool
                   id="org.eclipse.linuxtools.cdt.autotools.core.gnu.toolchain.tool.configure.debug"
                   isAbstract="false"
                   natureFilter="both"
                   superClass="org.eclipse.linuxtools.cdt.autotools.core.tool.configure">
             </tool>
             <tool
                   id="org.eclipse.linuxtools.cdt.autotools.core.toolchain.tool.autogen.debug"
                   isAbstract="false"
                   natureFilter="both"
                   superClass="org.eclipse.linuxtools.cdt.autotools.core.tool.autogen">
             </tool>
             <tool
                   id="org.eclipse.linuxtools.cdt.autotools.core.toolchain.tool.gcc.debug"
                   isAbstract="false"
                   superClass="cdt.managedbuild.tool.gnu.c.compiler">
             </tool>
             <tool
                   id="org.eclipse.linuxtools.cdt.autotools.core.toolchain.tool.gpp.debug"
                   isAbstract="false"
                   superClass="cdt.managedbuild.tool.gnu.cpp.compiler">
             </tool>
             <targetPlatform
                   id="org.eclipse.linuxtools.cdt.autotools.core.toolchain.targetPlatform.debug"
                   isAbstract="false"
                   name="%Autotools.targetplatform.name"
                   superClass="org.eclipse.linuxtools.cdt.autotools.core.targetPlatform">
             </targetPlatform>
             <builder
                   id="org.eclipse.linuxtools.cdt.autotools.core.toolchain.builder.debug"
                   isAbstract="false"
                   isVariableCaseSensitive="false"
                   superClass="org.eclipse.linuxtools.cdt.autotools.core.toolchain.builder">
             </builder>
             <supportedProperties>
                <property
                      id="org.eclipse.cdt.build.core.buildArtefactType">
                   <value
                         id="org.eclipse.linuxtools.cdt.autotools.core.buildArtefactType.autotools">
                   </value>
                </property>
                <property
                      id="org.eclipse.cdt.build.core.buildType">
                   <value
                         id="org.eclipse.linuxtools.cdt.autotools.core.buildType.debug">
                   </value>
                </property>
             </supportedProperties>
          </toolChain>
       </configuration>
    </projectType>
 </extension>
 
 
</plugin>



		
		
