<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Eclipse Arduino IDE">
         <property
               name="windowImages"
               value="platform:/plugin/it.baeyens.arduino.application/icons/logo_16.png,platform:/plugin/it.baeyens.arduino.application/icons/logo_32.png,platform:/plugin/it.baeyens.arduino.application/icons/logo_48.png,platform:/plugin/it.baeyens.arduino.application/icons/logo_64.png,platform:/plugin/it.baeyens.arduino.application/icons/logo_128.png">
         </property>
         <property
               name="aboutText"
               value="Eclipse IDE for Arduino Developers&#x0A;&#x0A;Info: http://eclipse.baeyens.it/&#x0A;Source: https://github.com/jantje/arduino-eclipse-plugin&#x0A;Binaries: http://eclipse.baeyens.it/download.php&#x0A;&#x0A;Contributors: jantje, brodykenrick, wimjongman, neuweiler, &#x0A;darcade, amorellgarcia&#x0A;&#x0A;https://github.com/jantje/arduino-eclipse-plugin/graphs/contributors">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/it.baeyens.arduino.application/icons/logo_128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupProgressRect"
               value="97,370,100,4">
         </property>
         <property
               name="startupMessageRect"
               value="400,370,441,20">
         </property>
         <property
               name="appName"
               value="Eclipse Arduino IDE">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_classic">
         </property>
      </product>
   </extension>

</plugin>
