<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
 <extension
       id="org.eclipse.cdt.environmentVars.Nature"
       name="Environment vars nature"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="io.sloeber.autobuild.cdt.ui.ProjectNature1">
       </run>
    </runtime>
 </extension>

 <extension
         point="org.eclipse.ui.propertyPages">
        <page
            class="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build"
            id="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build_2"
            name="%page.c.build"
            >
         <enabledWhen>
           <adapt type="org.eclipse.core.resources.IResource">
	            <test property="org.eclipse.core.resources.projectNature"
	                  value="org.eclipse.cdt.environmentVars.Nature"/>
           </adapt>
         </enabledWhen>
        </page>    
        <page
            class="org.eclipse.cdt.managedbuilder.ui.properties.Page_Variables"
            id="org.eclipse.cdt.managedbuilder.ui.properties.Page_Variables"
            category="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build_2"
            name="%CDTVariablesProperty.name"
            >
         <enabledWhen>
           <adapt type="org.eclipse.core.resources.IProject">
	            <test property="org.eclipse.core.resources.projectNature"
	                  value="org.eclipse.cdt.environmentVars.Nature"/>
             <and>
                <count
                      value="io.sloeber.autobuild.cdt.ui.count1">
                </count>
                <count
                      value="io.sloeber.autobuild.cdt.ui.count2">
                </count>
             </and>
             <not>
                <test
                      property="io.sloeber.autobuild.cdt.ui.test1">
                </test>
             </not>
           </adapt>
         </enabledWhen>
      </page>
<!--
            <page
            class="org.eclipse.cdt.managedbuilder.ui.properties.Page_BuildSettings"
            id="org.eclipse.cdt.managedbuilder.ui.properties.Page_BuildSettings"
            category="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build_2"
            name="%CDTBuildProperty.name"
            >
         <enabledWhen>
           <adapt type="org.eclipse.core.resources.IResource">
	            <test property="org.eclipse.core.resources.projectNature"
	                  value="org.eclipse.cdt.environmentVars.Nature"/>
           </adapt>
         </enabledWhen>
         <keywordReference
               id="org.eclipse.cdt.managedbuilder.ui.keyword.toolchain1">
         </keywordReference>
         <keywordReference
               id="org.eclipse.cdt.managedbuilder.ui.keyword.toolchain2">
         </keywordReference>
      </page>
 -->
 </extension>

 
</plugin>



		
		
