      <div class="container" ng-controller="NavBarCtrl" ng-init="init()">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand">Arduino Eclipse</p>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="navlinks.home"><a href="{{navlinks.home.url}}">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Version 2</li>
                <li ng-class="navlinks.bundle_v2"><a href="{{navlinks.bundle_v2.url}}">Bundle</a></li>
                <li ng-class="navlinks.plugin_v2"><a href="{{navlinks.plugin_v2.url}}">Plugin</a></li>
                <li class="dropdown-header">Version 1</li>
                <li ng-class="navlinks.plugin_v1"><a href="{{navlinks.plugin_v1.url}}">Plugin</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Install <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li ng-class="navlinks.linux"><a href="{{navlinks.linux.url}}">Linux</a></li>
                <li ng-class="navlinks.macos"><a href="{{navlinks.macos.url}}">Mac OS</a></li>
                <li class="dropdown-header">Windows</li>
                <li ng-class="navlinks.winxp"><a href="{{navlinks.winxp.url}}">Windows XP</a></li>
                <li ng-class="navlinks.winvista"><a href="{{navlinks.winvista.url}}">Windows Vista</a></li>
                <li ng-class="navlinks.win7"><a href="{{navlinks.win7.url}}">Windows 7</a></li>
                <li ng-class="navlinks.win8"><a href="{{navlinks.win8.url}}">Windows 8</a></li>
                <li class="divider"></li>
                <li ng-class="navlinks.x64"><a href="{{navlinks.x64.url}}">64bits</a></li>
              </ul>
            </li>
            <li ng-class="navlinks.howto"><a href="{{navlinks.howto.url}}">How To</b></a></li>
            <li ng-class="navlinks.faq"><a href="{{navlinks.faq.url}}">FAQs</a></li>
            <li><a href="https://github.com/jantje/arduino-eclipse-plugin" target="_blank">Github</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>