		<p>Every night, a little gnome called Jenkins walks around our servers looking for
			changes occurred during the day and, when he finds any, he feels so
			happy he starts the build process!</p>
		<p>
			Beware though, as the nightly build represents the latest and
			greatest version off the code, but
			<mark>there is no guarantee that these versions do not contain any
				issue</mark>
			(they probably do) as the little gnome is not renowned for his
			patience and he doesn't test the build extensively: actually he runs
			away right after launching it!</p>
			<P>And probably worse: The nightly is the playground of the contributors. 
			No testing has been done, no validation has been done.</P>
			