<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="io.sloeber.cdt.refactor.RenameFolder"
            id="io.sloeber.cdt.refactor.renameFolder"
            name="name">
         <enablement>
            <with
                  variable="affectedNatures">
            </with>
         </enablement>
      </renameParticipant>
   </extension>

</plugin>
