<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticIncludeRequirements" value="true"/>
    <booleanAttribute key="automaticValidate" value="false"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="io.sloeber.core"/>
        <setEntry value="io.sloeber.core.nl1"/>
        <setEntry value="io.sloeber.product"/>
        <setEntry value="io.sloeber.product.sdk"/>
        <setEntry value="io.sloeber.tests"/>
        <setEntry value="io.sloeber.ui"/>
        <setEntry value="io.sloeber.ui.nl1"/>
        <setEntry value="org.eclipse.cdt"/>
        <setEntry value="org.eclipse.cdt.autotools.core"/>
        <setEntry value="org.eclipse.cdt.autotools.docs"/>
        <setEntry value="org.eclipse.cdt.autotools.tests"/>
        <setEntry value="org.eclipse.cdt.autotools.ui"/>
        <setEntry value="org.eclipse.cdt.autotools.ui.tests"/>
        <setEntry value="org.eclipse.cdt.build.crossgcc"/>
        <setEntry value="org.eclipse.cdt.build.gcc.core.tests"/>
        <setEntry value="org.eclipse.cdt.build.gcc.ui"/>
        <setEntry value="org.eclipse.cdt.codan.checkers"/>
        <setEntry value="org.eclipse.cdt.codan.checkers.ui"/>
        <setEntry value="org.eclipse.cdt.codan.core"/>
        <setEntry value="org.eclipse.cdt.codan.core.cxx"/>
        <setEntry value="org.eclipse.cdt.codan.core.tests"/>
        <setEntry value="org.eclipse.cdt.codan.examples"/>
        <setEntry value="org.eclipse.cdt.codan.ui"/>
        <setEntry value="org.eclipse.cdt.codan.ui.cxx"/>
        <setEntry value="org.eclipse.cdt.codan.ui.example.cfgview"/>
        <setEntry value="org.eclipse.cdt.core.autotools.core"/>
        <setEntry value="org.eclipse.cdt.core.autotools.ui"/>
        <setEntry value="org.eclipse.cdt.core.tests"/>
        <setEntry value="org.eclipse.cdt.debug.application"/>
        <setEntry value="org.eclipse.cdt.debug.application.doc"/>
        <setEntry value="org.eclipse.cdt.debug.application.tests"/>
        <setEntry value="org.eclipse.cdt.debug.core"/>
        <setEntry value="org.eclipse.cdt.debug.core.memory"/>
        <setEntry value="org.eclipse.cdt.debug.core.memory.tests"/>
        <setEntry value="org.eclipse.cdt.debug.gdbjtag"/>
        <setEntry value="org.eclipse.cdt.debug.gdbjtag.core"/>
        <setEntry value="org.eclipse.cdt.debug.gdbjtag.core.tests"/>
        <setEntry value="org.eclipse.cdt.debug.gdbjtag.ui"/>
        <setEntry value="org.eclipse.cdt.debug.ui"/>
        <setEntry value="org.eclipse.cdt.debug.ui.memory.floatingpoint"/>
        <setEntry value="org.eclipse.cdt.debug.ui.memory.memorybrowser"/>
        <setEntry value="org.eclipse.cdt.debug.ui.memory.search"/>
        <setEntry value="org.eclipse.cdt.debug.ui.memory.traditional"/>
        <setEntry value="org.eclipse.cdt.debug.ui.memory.transport"/>
        <setEntry value="org.eclipse.cdt.dsf"/>
        <setEntry value="org.eclipse.cdt.dsf.gdb"/>
        <setEntry value="org.eclipse.cdt.dsf.gdb.multicorevisualizer.ui"/>
        <setEntry value="org.eclipse.cdt.dsf.gdb.multicorevisualizer.ui.tests"/>
        <setEntry value="org.eclipse.cdt.dsf.gdb.tests"/>
        <setEntry value="org.eclipse.cdt.dsf.gdb.ui"/>
        <setEntry value="org.eclipse.cdt.dsf.ui"/>
        <setEntry value="org.eclipse.cdt.examples.dsf"/>
        <setEntry value="org.eclipse.cdt.examples.dsf.gdb"/>
        <setEntry value="org.eclipse.cdt.examples.dsf.pda"/>
        <setEntry value="org.eclipse.cdt.examples.dsf.pda.ui"/>
        <setEntry value="org.eclipse.cdt.flatpak.launcher"/>
        <setEntry value="org.eclipse.cdt.gdb"/>
        <setEntry value="org.eclipse.cdt.gdb.ui"/>
        <setEntry value="org.eclipse.cdt.launch"/>
        <setEntry value="org.eclipse.cdt.launch.remote"/>
        <setEntry value="org.eclipse.cdt.launch.serial.core"/>
        <setEntry value="org.eclipse.cdt.launch.serial.ui"/>
        <setEntry value="org.eclipse.cdt.llvm.dsf.lldb.core"/>
        <setEntry value="org.eclipse.cdt.llvm.dsf.lldb.ui"/>
        <setEntry value="org.eclipse.cdt.make.core.tests"/>
        <setEntry value="org.eclipse.cdt.make.ui"/>
        <setEntry value="org.eclipse.cdt.make.ui.tests"/>
        <setEntry value="org.eclipse.cdt.managedbuilder.core.tests"/>
        <setEntry value="org.eclipse.cdt.managedbuilder.gnu.ui"/>
        <setEntry value="org.eclipse.cdt.managedbuilder.headlessbuilderapp"/>
        <setEntry value="org.eclipse.cdt.managedbuilder.llvm.tests"/>
        <setEntry value="org.eclipse.cdt.managedbuilder.llvm.ui"/>
        <setEntry value="org.eclipse.cdt.managedbuilder.ui"/>
        <setEntry value="org.eclipse.cdt.managedbuilder.ui.tests"/>
        <setEntry value="org.eclipse.cdt.meson.core"/>
        <setEntry value="org.eclipse.cdt.meson.docs"/>
        <setEntry value="org.eclipse.cdt.meson.ui.editor"/>
        <setEntry value="org.eclipse.cdt.msw.build"/>
        <setEntry value="org.eclipse.cdt.msw.build.tests"/>
        <setEntry value="org.eclipse.cdt.native.serial"/>
        <setEntry value="org.eclipse.cdt.platform.branding"/>
        <setEntry value="org.eclipse.cdt.remote.core"/>
        <setEntry value="org.eclipse.cdt.sdk"/>
        <setEntry value="org.eclipse.cdt.testing"/>
        <setEntry value="org.eclipse.cdt.tests.dsf"/>
        <setEntry value="org.eclipse.cdt.tests.dsf.gdb"/>
        <setEntry value="org.eclipse.cdt.testsrunner"/>
        <setEntry value="org.eclipse.cdt.testsrunner.boost"/>
        <setEntry value="org.eclipse.cdt.testsrunner.gtest"/>
        <setEntry value="org.eclipse.cdt.testsrunner.qttest"/>
        <setEntry value="org.eclipse.cdt.testsrunner.tap"/>
        <setEntry value="org.eclipse.cdt.testsrunner.tests"/>
        <setEntry value="org.eclipse.cdt.ui.tests"/>
        <setEntry value="org.eclipse.cdt.unittest"/>
        <setEntry value="org.eclipse.cdt.util"/>
        <setEntry value="org.eclipse.cdt.visualizer.core"/>
        <setEntry value="org.eclipse.cdt.visualizer.examples"/>
        <setEntry value="org.eclipse.cdt.visualizer.ui"/>
        <setEntry value="org.eclipse.launchbar.core"/>
        <setEntry value="org.eclipse.launchbar.core.tests"/>
        <setEntry value="org.eclipse.launchbar.remote.core"/>
        <setEntry value="org.eclipse.launchbar.remote.ui"/>
        <setEntry value="org.eclipse.launchbar.ui"/>
        <setEntry value="org.eclipse.remote.console"/>
        <setEntry value="org.eclipse.remote.core"/>
        <setEntry value="org.eclipse.remote.core.tests"/>
        <setEntry value="org.eclipse.remote.doc.isv"/>
        <setEntry value="org.eclipse.remote.jsch.core"/>
        <setEntry value="org.eclipse.remote.jsch.tests"/>
        <setEntry value="org.eclipse.remote.jsch.ui"/>
        <setEntry value="org.eclipse.remote.proxy.core"/>
        <setEntry value="org.eclipse.remote.proxy.protocol.core"/>
        <setEntry value="org.eclipse.remote.proxy.server.core"/>
        <setEntry value="org.eclipse.remote.proxy.server.linux.ppc64le"/>
        <setEntry value="org.eclipse.remote.proxy.server.linux.x86_64"/>
        <setEntry value="org.eclipse.remote.proxy.server.macosx.x86_64"/>
        <setEntry value="org.eclipse.remote.proxy.tests"/>
        <setEntry value="org.eclipse.remote.proxy.ui"/>
        <setEntry value="org.eclipse.remote.serial.core"/>
        <setEntry value="org.eclipse.remote.serial.ui"/>
        <setEntry value="org.eclipse.remote.telnet.core"/>
        <setEntry value="org.eclipse.remote.telnet.core.tests"/>
        <setEntry value="org.eclipse.remote.telnet.ui"/>
        <setEntry value="org.eclipse.remote.ui"/>
        <setEntry value="org.eclipse.remote.ui.tests"/>
        <setEntry value="org.eclipse.tm.terminal.connector.cdtserial"/>
        <setEntry value="org.eclipse.tm.terminal.connector.local"/>
        <setEntry value="org.eclipse.tm.terminal.connector.process"/>
        <setEntry value="org.eclipse.tm.terminal.connector.remote"/>
        <setEntry value="org.eclipse.tm.terminal.connector.ssh"/>
        <setEntry value="org.eclipse.tm.terminal.connector.telnet"/>
        <setEntry value="org.eclipse.tm.terminal.control"/>
        <setEntry value="org.eclipse.tm.terminal.test"/>
        <setEntry value="org.eclipse.tm.terminal.view.core"/>
        <setEntry value="org.eclipse.tm.terminal.view.ui"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="R:\regression"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/io.sloeber.autoBuild.test/src/io/sloeber/autoBuild/regression/AutoBuildRegression.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="MAKE_HOME" value="D:\platform\arduinoPlugin\tools\make\"/>
        <mapEntry key="PATH" value="%PATH%;D:\arduinoPlugin\packages\arduino\tools\avr-gcc\7.3.0-atmel3.6.1-arduino7\bin"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="true"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit5"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="io.sloeber.autoBuild.regression.AutoBuildRegression"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -consolelog"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="io.sloeber.autoBuild.test"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms40m&#13;&#10;&#9;&#9;-Xmx512M&#13;&#10;&#9;&#9;-ea -Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipse.sdk.ide"/>
    <booleanAttribute key="run_in_ui_thread" value="false"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="bcpg@default:default"/>
        <setEntry value="bcprov@default:default"/>
        <setEntry value="ch.qos.logback.classic@default:default"/>
        <setEntry value="ch.qos.logback.core@default:default"/>
        <setEntry value="com.google.guava.failureaccess@default:default"/>
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="com.jcraft.jsch@default:default"/>
        <setEntry value="com.sun.el.javax.el@default:default"/>
        <setEntry value="com.sun.jna.platform@default:default"/>
        <setEntry value="com.sun.jna@default:default"/>
        <setEntry value="com.sun.xml.bind@default:default"/>
        <setEntry value="jakarta.activation-api@default:default"/>
        <setEntry value="jakarta.annotation-api@default:default"/>
        <setEntry value="jakarta.inject.jakarta.inject-api*1.0.5@default:default"/>
        <setEntry value="jakarta.inject.jakarta.inject-api*2.0.1@default:default"/>
        <setEntry value="jakarta.xml.bind@default:default"/>
        <setEntry value="javax.activation@default:default"/>
        <setEntry value="javax.xml@default:default"/>
        <setEntry value="jaxen@default:default"/>
        <setEntry value="junit-jupiter-api@default:default"/>
        <setEntry value="junit-jupiter-engine@default:default"/>
        <setEntry value="junit-jupiter-migrationsupport@default:default"/>
        <setEntry value="junit-jupiter-params@default:default"/>
        <setEntry value="junit-platform-commons@default:default"/>
        <setEntry value="junit-platform-engine@default:default"/>
        <setEntry value="junit-platform-launcher@default:default"/>
        <setEntry value="junit-platform-runner@default:default"/>
        <setEntry value="junit-platform-suite-api@default:default"/>
        <setEntry value="junit-platform-suite-commons@default:default"/>
        <setEntry value="junit-platform-suite-engine@default:default"/>
        <setEntry value="junit-vintage-engine@default:default"/>
        <setEntry value="org.apache.ant@default:default"/>
        <setEntry value="org.apache.aries.spifly.dynamic.bundle@default:default"/>
        <setEntry value="org.apache.batik.constants@default:default"/>
        <setEntry value="org.apache.batik.css@default:default"/>
        <setEntry value="org.apache.batik.i18n@default:default"/>
        <setEntry value="org.apache.batik.util@default:default"/>
        <setEntry value="org.apache.commons.cli@default:default"/>
        <setEntry value="org.apache.commons.commons-codec@default:default"/>
        <setEntry value="org.apache.commons.jxpath@default:default"/>
        <setEntry value="org.apache.commons.lang3@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.commons.net@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.log4j@default:default"/>
        <setEntry value="org.apache.lucene.analysis-common@default:default"/>
        <setEntry value="org.apache.lucene.analysis-smartcn@default:default"/>
        <setEntry value="org.apache.lucene.core@default:default"/>
        <setEntry value="org.apache.xerces@default:default"/>
        <setEntry value="org.apache.xml.resolver@default:default"/>
        <setEntry value="org.apache.xmlgraphics@default:default"/>
        <setEntry value="org.apiguardian.api@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.ant.optional.junit@default:false"/>
        <setEntry value="org.eclipse.compare.core@default:default"/>
        <setEntry value="org.eclipse.compare@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filebuffers@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.net.win32@default:false"/>
        <setEntry value="org.eclipse.core.net@default:default"/>
        <setEntry value="org.eclipse.core.resources.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.debug.core@default:default"/>
        <setEntry value="org.eclipse.e4.core.commands@default:default"/>
        <setEntry value="org.eclipse.e4.core.contexts@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.annotations@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions.supplier@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions@default:default"/>
        <setEntry value="org.eclipse.e4.core.di@default:default"/>
        <setEntry value="org.eclipse.e4.core.services@default:default"/>
        <setEntry value="org.eclipse.e4.emf.xpath@default:default"/>
        <setEntry value="org.eclipse.e4.ui.bindings@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.core@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt.theme@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.di@default:default"/>
        <setEntry value="org.eclipse.e4.ui.dialogs@default:default"/>
        <setEntry value="org.eclipse.e4.ui.ide@default:default"/>
        <setEntry value="org.eclipse.e4.ui.model.workbench@default:default"/>
        <setEntry value="org.eclipse.e4.ui.services@default:default"/>
        <setEntry value="org.eclipse.e4.ui.swt.win32@default:false"/>
        <setEntry value="org.eclipse.e4.ui.widgets@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.addons.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench3@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.edit@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.emf.edit@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.bidi@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.event@default:default"/>
        <setEntry value="org.eclipse.equinox.http.jetty@default:default"/>
        <setEntry value="org.eclipse.equinox.http.service.api@default:default"/>
        <setEntry value="org.eclipse.equinox.http.servlet@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.artifact.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.core@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.engine@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.jarprocessor@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.region@default:false"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.security@default:default"/>
        <setEntry value="org.eclipse.equinox.transforms.hook@default:false"/>
        <setEntry value="org.eclipse.equinox.weaving.hook@default:false"/>
        <setEntry value="org.eclipse.help.base@default:default"/>
        <setEntry value="org.eclipse.help.ui@default:default"/>
        <setEntry value="org.eclipse.help@default:default"/>
        <setEntry value="org.eclipse.jdt.annotation*2.3.0.v20240111-2306@default:default"/>
        <setEntry value="org.eclipse.jdt.core.compiler.batch@default:default"/>
        <setEntry value="org.eclipse.jdt.junit.runtime@default:default"/>
        <setEntry value="org.eclipse.jdt.junit5.runtime@default:default"/>
        <setEntry value="org.eclipse.jetty.ee8.security@default:default"/>
        <setEntry value="org.eclipse.jetty.ee8.server@default:default"/>
        <setEntry value="org.eclipse.jetty.ee8.servlet@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet-api@default:default"/>
        <setEntry value="org.eclipse.jetty.session@default:default"/>
        <setEntry value="org.eclipse.jface.databinding@default:default"/>
        <setEntry value="org.eclipse.jface.text@default:default"/>
        <setEntry value="org.eclipse.jface@default:default"/>
        <setEntry value="org.eclipse.ltk.core.refactoring@default:default"/>
        <setEntry value="org.eclipse.ltk.ui.refactoring@default:default"/>
        <setEntry value="org.eclipse.m2e.archetype.catalog@default:false"/>
        <setEntry value="org.eclipse.m2e.archetype.common@default:default"/>
        <setEntry value="org.eclipse.m2e.archetype.descriptor@default:false"/>
        <setEntry value="org.eclipse.m2e.archetype.maven-artifact-transfer@default:false"/>
        <setEntry value="org.eclipse.m2e.core.ui@default:default"/>
        <setEntry value="org.eclipse.m2e.core@default:default"/>
        <setEntry value="org.eclipse.m2e.logback@default:false"/>
        <setEntry value="org.eclipse.m2e.maven.runtime@default:default"/>
        <setEntry value="org.eclipse.m2e.model.edit@default:default"/>
        <setEntry value="org.eclipse.m2e.workspace.cli@default:default"/>
        <setEntry value="org.eclipse.orbit.xml-apis-ext@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@1:true"/>
        <setEntry value="org.eclipse.pde.junit.runtime@default:default"/>
        <setEntry value="org.eclipse.platform@default:default"/>
        <setEntry value="org.eclipse.search.core@default:default"/>
        <setEntry value="org.eclipse.search@default:default"/>
        <setEntry value="org.eclipse.swt.win32.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.swt@default:default"/>
        <setEntry value="org.eclipse.team.core@default:default"/>
        <setEntry value="org.eclipse.team.ui@default:default"/>
        <setEntry value="org.eclipse.text@default:default"/>
        <setEntry value="org.eclipse.ui.cheatsheets@default:default"/>
        <setEntry value="org.eclipse.ui.console@default:default"/>
        <setEntry value="org.eclipse.ui.editors@default:default"/>
        <setEntry value="org.eclipse.ui.forms@default:default"/>
        <setEntry value="org.eclipse.ui.ide.application@default:default"/>
        <setEntry value="org.eclipse.ui.ide@default:default"/>
        <setEntry value="org.eclipse.ui.intro@default:default"/>
        <setEntry value="org.eclipse.ui.navigator.resources@default:default"/>
        <setEntry value="org.eclipse.ui.navigator@default:default"/>
        <setEntry value="org.eclipse.ui.views.properties.tabbed@default:default"/>
        <setEntry value="org.eclipse.ui.views@default:default"/>
        <setEntry value="org.eclipse.ui.win32@default:false"/>
        <setEntry value="org.eclipse.ui.workbench.texteditor@default:default"/>
        <setEntry value="org.eclipse.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.ui@default:default"/>
        <setEntry value="org.eclipse.urischeme@default:default"/>
        <setEntry value="org.eclipse.wst.common.core@default:default"/>
        <setEntry value="org.eclipse.wst.common.emf@default:default"/>
        <setEntry value="org.eclipse.wst.common.environment@default:default"/>
        <setEntry value="org.eclipse.wst.common.frameworks@default:default"/>
        <setEntry value="org.eclipse.wst.common.uriresolver@default:default"/>
        <setEntry value="org.eclipse.wst.sse.core@default:default"/>
        <setEntry value="org.eclipse.wst.xml.core@default:default"/>
        <setEntry value="org.freemarker.freemarker@default:default"/>
        <setEntry value="org.hamcrest.core*2.2.0.v20230809-1000@default:default"/>
        <setEntry value="org.hamcrest@default:default"/>
        <setEntry value="org.jdom2@default:default"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.mortbay.jasper.apache-el@default:default"/>
        <setEntry value="org.mortbay.jasper.apache-jsp@default:default"/>
        <setEntry value="org.objectweb.asm.commons@default:default"/>
        <setEntry value="org.objectweb.asm.tree.analysis@default:default"/>
        <setEntry value="org.objectweb.asm.tree@default:default"/>
        <setEntry value="org.objectweb.asm.util@default:default"/>
        <setEntry value="org.opentest4j@default:default"/>
        <setEntry value="org.osgi.service.cm@default:default"/>
        <setEntry value="org.osgi.service.component.annotations@default:default"/>
        <setEntry value="org.osgi.service.component@default:default"/>
        <setEntry value="org.osgi.service.device@default:default"/>
        <setEntry value="org.osgi.service.event@default:default"/>
        <setEntry value="org.osgi.service.http.whiteboard@default:default"/>
        <setEntry value="org.osgi.service.metatype@default:default"/>
        <setEntry value="org.osgi.service.prefs@default:default"/>
        <setEntry value="org.osgi.service.provisioning@default:default"/>
        <setEntry value="org.osgi.service.upnp@default:default"/>
        <setEntry value="org.osgi.service.useradmin@default:default"/>
        <setEntry value="org.osgi.service.wireadmin@default:default"/>
        <setEntry value="org.osgi.util.function@default:default"/>
        <setEntry value="org.osgi.util.measurement@default:default"/>
        <setEntry value="org.osgi.util.position@default:default"/>
        <setEntry value="org.osgi.util.promise@default:default"/>
        <setEntry value="org.osgi.util.xml@default:default"/>
        <setEntry value="org.tukaani.xz@default:default"/>
        <setEntry value="slf4j.api@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="io.sloeber.autoBuild.test@default:default"/>
        <setEntry value="io.sloeber.autoBuild.ui@default:default"/>
        <setEntry value="io.sloeber.autoBuild@default:default"/>
        <setEntry value="org.eclipse.cdt.build.gcc.core@default:default"/>
        <setEntry value="org.eclipse.cdt.core.native@default:default"/>
        <setEntry value="org.eclipse.cdt.core.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.cdt.core.win32@default:false"/>
        <setEntry value="org.eclipse.cdt.core@default:default"/>
        <setEntry value="org.eclipse.cdt.make.core@default:default"/>
        <setEntry value="org.eclipse.cdt.managedbuilder.core@default:default"/>
        <setEntry value="org.eclipse.cdt.ui@default:default"/>
        <setEntry value="org.eclipse.tools.templates.core@default:default"/>
        <setEntry value="org.eclipse.tools.templates.freemarker@default:default"/>
        <setEntry value="org.eclipse.tools.templates.ui@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="false"/>
    <booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>
