<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
<!-- 
####################################################################################### 
####################################################################################### 
##                                                                                   ##
##   Extension Points                                                                ## 
##                                                                                   ##
####################################################################################### 
####################################################################################### 
-->
<!--
####################################################################################### 
#    Target Tool Settings part                                                        # 
####################################################################################### 
-->

	<extension-point id="targetToolSettings" 
		name="Settings GUI for a target tool" 
		schema="schema/targetToolSettings.exsd"/>

	
	<extension point="it.baeyens.avreclipse.ui.targetToolSettings">
		<settingsPart
			class="it.baeyens.avreclipse.ui.editors.targets.SectionAvarice"
			toolId="avreclipse.avarice">
		</settingsPart>
		<settingsPart
			class="it.baeyens.avreclipse.ui.editors.targets.SectionAvrdude"
			toolId="avreclipse.avrdude">
		</settingsPart>
	</extension>
   

<!-- 
####################################################################################### 
####################################################################################### 
##                                                                                   ##
##   User Interface                                                                  ## 
##                                                                                   ##
####################################################################################### 
####################################################################################### 
-->
<!--
####################################################################################### 
#    Preference Initializer                                                           # 
####################################################################################### 
-->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="it.baeyens.avreclipse.core.preferences.PreferenceInitializer">
		</initializer>
	</extension>


<!--
####################################################################################### 
#    AVR Plugin Commands                                                              # 
####################################################################################### 
-->
	<extension point="org.eclipse.ui.commands">
		<category
			name="Arduino"
			description="Arduino Plugin commands"
			id="it.baeyens.avreclipse.commands" />
		<command
			name="Upload Project"
			description="Upload selected project to the target device"
			categoryId="it.baeyens.avreclipse.commands"
			id="it.baeyens.avreclipse.commands.uploadproject" />
	</extension>

<!--
####################################################################################### 
#    Key Bindings                                                                     # 
####################################################################################### 

	<extension point= "org.eclipse.ui.bindings">
		<key sequence="M1+M3+U"
			commandId="it.baeyens.avreclipse.commands.uploadproject"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.contexts.window" />
	</extension>
-->

<!--
####################################################################################### 
#    Action Sets (Toolbar & Main Menu)                                                # 
####################################################################################### 
-->
	<extension point="org.eclipse.ui.actionSets">
		<actionSet
			label="AVRDUDE Action Set"
			visible="false"
			id="it.baeyens.avreclipse.actionset.avrdude">
			<menu
				label="A&amp;VR"
				id="it.baeyens.avreclipse.targetmenu">
				<separator
					name="mainGroup">
				</separator>
			</menu>
			<action
				toolbarPath="mainGroup"
				label="&amp;Upload Project to Target Device"
				tooltip="Upload current project to Atmel target MCU."
				definitionId="it.baeyens.avreclipse.commands.uploadproject"
				class="it.baeyens.avreclipse.ui.actions.UploadProjectAction"
				icon="icons/avrdl-small.gif"
				menubarPath="it.baeyens.avreclipse.targetmenu/mainGroup"
				id="it.baeyens.avreclipse.actions.AvrUL">
			</action>
		</actionSet>
	</extension>

<!--
####################################################################################### 
#    Popup Menues (Context Menues)                                                    # 
####################################################################################### 
-->
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			objectClass="org.eclipse.core.resources.IProject"
			adaptable="true"
			id="it.baeyens.avreclipse.menu.popup.avr">
			<menu label="AVR" id="it.baeyens.avreclipse.menu.popup.avr">
				<separator name="upload"></separator>
			</menu>
			<action
				class="it.baeyens.avreclipse.ui.actions.UploadProjectAction"
				enablesFor="1" id="it.baeyens.avreclipse.actions.projectupload"
				label="Upload Project to Target Device"
				menubarPath="it.baeyens.avreclipse.menu.popup.avr/upload">
			</action>
			<visibility>
				<objectState name="projectNature"
					value="it.baeyens.arduinonature">
				</objectState>
			</visibility>
		</objectContribution>
	</extension>

<!--
####################################################################################### 
#    Preference Pages                                                                 # 
####################################################################################### 
-->
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Arduino"
			class="it.baeyens.avreclipse.ui.preferences.MainPreferencePage"
			id="it.baeyens.avreclipse.preferences.PreferencePage">
		</page>
		<page name="Paths"
			category="it.baeyens.avreclipse.preferences.PreferencePage"
			class="it.baeyens.avreclipse.ui.preferences.PathsPreferencePage"
			id="it.baeyens.avreclipse.preferences.PathsPreferencePage">
		</page>
		<page name="AVRDude"
			category="it.baeyens.avreclipse.preferences.PreferencePage"
			class="it.baeyens.avreclipse.ui.preferences.AVRDudePreferencePage"
			id="it.baeyens.avreclipse.preferences.AVRDudePreferencePage">
		</page>
	</extension>

<!--
####################################################################################### 
#    Property Pages                                                                   # 
####################################################################################### 
-->
	<extension point="org.eclipse.ui.propertyPages">
		<!-- ############################### -->
		<!-- Main AVR  Properties Page       -->
		<!-- ############################### -->
		<page
            class="it.baeyens.avreclipse.ui.propertypages.PageMain"
            id="it.baeyens.avreclipse.propertypage.Pagemain"
            name="Arduino" >
			<filter
				name="projectNature"
				value="it.baeyens.arduinonature">
			</filter>            
			<enabledWhen>
				<or>
					<instanceof value="org.eclipse.core.resources.IProject"/>
					<instanceof value="org.eclipse.cdt.core.model.ICProject"/>
				</or>          
			</enabledWhen>
        </page>    
        
		<!-- ############################### -->
		<!-- Target Hardware Properties Page -->
		<!-- ############################### -->
		<page
            class="it.baeyens.avreclipse.ui.propertypages.PageTargetHardware"
            id="it.baeyens.avreclipse.propertypage.avrtargethardware"
            name="Target Hardware"
            category="it.baeyens.avreclipse.propertypage.Pagemain" >
			<filter
				name="projectNature"
				value="it.baeyens.arduinonature">
			</filter>            
			<enabledWhen>
				<or>
					<instanceof value="org.eclipse.core.resources.IProject"/>
					<instanceof value="org.eclipse.cdt.core.model.ICProject"/>
				</or>          
			</enabledWhen>
        </page>    
		<!-- ############################### -->
		<!-- AVRDude Properties Page         -->
		<!-- ############################### -->
		<page
            class="it.baeyens.avreclipse.ui.propertypages.PageAVRDude"
            id="it.baeyens.avreclipse.propertypage.avrdude"
            name="AVRDude"
            category="it.baeyens.avreclipse.propertypage.Pagemain" >
			<filter
				name="projectNature"
				value="it.baeyens.arduinonature">
			</filter>            
			<enabledWhen>
				<and>
					<or>
						<instanceof value="org.eclipse.core.resources.IProject"/>
						<instanceof value="org.eclipse.cdt.core.model.ICProject"/>
					</or> 
					<not>
						<test property="it.baeyens.avreclipse.core.isStaticLib" />
					</not>
				</and>         
			</enabledWhen>
        </page>    
		<!-- ############################### -->
		<!-- AVRDude Properties for Static Lib -->
		<!-- ############################### -->
		<!-- Static Libs do not need avrdude support, so a dummy page is displayed -->
		<page
            class="it.baeyens.avreclipse.ui.propertypages.PageAVRDudeStaticLib"
            id="it.baeyens.avreclipse.propertypage.avrdude.staticlib"
            name="AVRDude"
            category="it.baeyens.avreclipse.propertypage.Pagemain" >
			<filter
				name="projectNature"
				value="it.baeyens.arduinonature">
			</filter>            
			<enabledWhen>
				<and>
					<or>
						<instanceof value="org.eclipse.core.resources.IProject"/>
						<instanceof value="org.eclipse.cdt.core.model.ICProject"/>
					</or> 
					<test property="it.baeyens.avreclipse.core.isStaticLib" />
				</and>         
			</enabledWhen>
        </page>    
		
	</extension>
	
<!--
####################################################################################### 
#    Property Page Tabs                                                               # 
####################################################################################### 
-->
	<extension
		point="org.eclipse.cdt.ui.cPropertyTab">
		
		<!-- #### Target Hardware Tab #### -->
		<tab
			class="it.baeyens.avreclipse.ui.propertypages.TabTargetHardware"
			icon="icons/viewer16/dummy.png"
			name="Target Hardware"
			weight="001"
			parent="it.baeyens.avreclipse.ui.propertypages.PageTargetHardware"/>

		<!-- #### AVRDude/Programmer Tab #### -->
		<tab
			class="it.baeyens.avreclipse.ui.propertypages.TabAVRDudeProgrammer"
			icon="icons/viewer16/dummy.png"
			name="Programmer"
			weight="001"
			parent="it.baeyens.avreclipse.ui.propertypages.PageAVRDude"/>

		<!-- #### AVRDude/Flash + EEPROM Tab #### -->
		<tab
			class="it.baeyens.avreclipse.ui.propertypages.TabAVRDudeFlashEEPROM"
			icon="icons/viewer16/dummy.png"
			name="Flash / EEPROM"
			weight="002"
			parent="it.baeyens.avreclipse.ui.propertypages.PageAVRDude"/>

		<!-- #### AVRDude/Fuses Tab #### -->
		<tab
			class="it.baeyens.avreclipse.ui.propertypages.TabAVRDudeFuseBytes"
			icon="icons/viewer16/dummy.png"
			name="Fuses"
			weight="003"
			parent="it.baeyens.avreclipse.ui.propertypages.PageAVRDude"/>

		<!-- #### AVRDude/Lockbits Tab #### -->
		<tab
			class="it.baeyens.avreclipse.ui.propertypages.TabAVRDudeLockbits"
			icon="icons/viewer16/dummy.png"
			name="Lockbits"
			weight="004"
			parent="it.baeyens.avreclipse.ui.propertypages.PageAVRDude"/>

		<!-- #### AVRDude/Avanced Tab #### -->
		<tab
			class="it.baeyens.avreclipse.ui.propertypages.TabAVRDudeAdvanced"
			icon="icons/viewer16/dummy.png"
			name="Advanced"
			weight="005"
			parent="it.baeyens.avreclipse.ui.propertypages.PageAVRDude"/>

		<!-- #### AVRDude/Other Tab #### -->
		<tab
			class="it.baeyens.avreclipse.ui.propertypages.TabAVRDudeOther"
			icon="icons/viewer16/dummy.png"
			name="Other"
			weight="006"
			parent="it.baeyens.avreclipse.ui.propertypages.PageAVRDude"/>
	</extension>

<!--
####################################################################################### 
#    Wizard Pages                                                                     # 
####################################################################################### 
-->

	<extension point="org.eclipse.ui.newWizards">
		<category 
			id="it.baeyens.avreclipse.ui.wizards"
			name="AVR">
		</category>
		<category 
			id="it.baeyens.avreclipse.ui.arduino.wizards"
			name="Arduino">
		</category>
		<wizard 
			id="it.baeyens.avreclipse.ui.wizards.NewFusesWizard"
			category="it.baeyens.avreclipse.ui.wizards"
			class="it.baeyens.avreclipse.ui.wizards.NewFusesWizard"
			icon="icons/etool16/new_fusefile_wiz.png"
			name="Fuses File"
			project="false">
		</wizard>
		<wizard 
			id="it.baeyens.avreclipse.ui.wizards.NewLockbitsWizard"
			category="it.baeyens.avreclipse.ui.wizards"
			class="it.baeyens.avreclipse.ui.wizards.NewLockbitsWizard"
			icon="icons/etool16/new_lockfile_wiz.png"
			name="Lockbits File"
			project="false">
		</wizard>
		
	</extension>

	<extension point="org.eclipse.cdt.managedbuilder.ui.newWizardPages"
		id="it.baeyens.avreclipse.wizardpage" 
		name="AVR Wizard Pages" >

		<wizardPage ID="it.baeyens.avreclipse.mcuselectpage"
	        operationClass="it.baeyens.avreclipse.ui.wizards.MCUselectPage"
	        pageClass="it.baeyens.avreclipse.ui.wizards.MCUselectPage">
				<toolchain toolchainID="it.baeyens.avreclipse.toolchain.winavr.base" />
				<toolchain toolchainID="it.baeyens.avreclipse.toolchain.winavr.app.debug" />
				<toolchain toolchainID="it.baeyens.avreclipse.toolchain.winavr.app.release" />
				<toolchain toolchainID="it.baeyens.avreclipse.toolchain.winavr.lib.debug" />
				<toolchain toolchainID="it.baeyens.avreclipse.toolchain.winavr.lib.release" />
		</wizardPage>	
	
	</extension>

<!--
####################################################################################### 
#    Editors                                                                            # 
####################################################################################### 
-->
	<extension point="org.eclipse.ui.editors">
		<editor id="it.baeyens.avreclipse.ui.editors.FusesEditor"
			name="Fuses Editor"
			extensions="fuses"
			icon="icons/objs16/fuse_file_obj.png"
			class="it.baeyens.avreclipse.ui.editors.FusesEditor" />
		<editor id="it.baeyens.avreclipse.ui.editors.LockbitsEditor"
			name="Lockbits Editor"
			extensions="locks"
			icon="icons/objs16/lock_file_obj.png"
			class="it.baeyens.avreclipse.ui.editors.LockbitsEditor" />
		<editor id="it.baeyens.avreclipse.ui.editors.TargetConfigurationEditor"
			name="AVR Target Configuration Editor"
			icon="icons/avr_app.gif"
			class="it.baeyens.avreclipse.ui.editors.targets.TargetConfigurationEditor" />
	</extension>


<!--
####################################################################################### 
#    Fuses File Document Provider                                                                            # 
####################################################################################### 
-->
	<extension point="org.eclipse.ui.editors.documentProviders"> 
		<provider 
			extensions=".fuse,.locks" 
			class="it.baeyens.avreclipse.ui.editors.FuseFileDocumentProvider" 
			id="it.baeyens.avreclipse.ui.editors.FuseFileDocumentProvider"> 
			</provider> 
		</extension> 


<!--
####################################################################################### 
#    Views                                                                            # 
####################################################################################### 
-->
	<extension point="org.eclipse.ui.views">
		<category id="it.baeyens.avreclipse" name="AVR" />
		<view id="it.baeyens.avreclipse.views.AVRDeviceView" 
			category="it.baeyens.avreclipse"
			class="it.baeyens.avreclipse.ui.views.avrdevice.AVRDeviceView" 
			icon="icons/avr-icon-atmel.png"
			name="AVR Device Explorer" />
		<view id="it.baeyens.avreclipse.views.supportedmcus" 
			category="it.baeyens.avreclipse"
			class="it.baeyens.avreclipse.ui.views.supportedmcu.MCUListView" 
			icon="icons/avr-icon-atmel.png"
			name="AVR Supported MCUs" />
		<view id="it.baeyens.avreclipse.views.targetconfigurationview" 
			category="it.baeyens.avreclipse"
			class="it.baeyens.avreclipse.ui.views.targets.TargetConfigurationView" 
			icon="icons/avr_app.gif"
			name="AVR Target Configurations" />

	</extension>


	

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="org.eclipse.cdt.ui.CPerspective">
			<actionSet id="it.baeyens.avreclipse.actionset.avrdude" />
			<viewShortcut id="it.baeyens.avreclipse.views.AVRDeviceView" />
			<viewShortcut id="it.baeyens.avreclipse.views.supportedmcus" />
			<view id="it.baeyens.avreclipse.views.AVRDeviceView"
				relative="org.eclipse.ui.views.TaskList" 
				relationship="stack" />
			<view id="it.baeyens.avreclipse.views.supportedmcus"
				relative="org.eclipse.ui.views.TaskList" 
				relationship="stack" />
		</perspectiveExtension>
		
		<perspectiveExtension
			targetID="org.eclipse.debug.ui.DebugPerspective">
			<actionSet id="it.baeyens.avreclipse.actionset.avrdude" />
			<viewShortcut id="it.baeyens.avreclipse.views.AVRDeviceView" />
			<viewShortcut id="it.baeyens.avreclipse.views.supportedmcus" />
		</perspectiveExtension>
	</extension>

</plugin>
