<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
<!-- 
####################################################################################### 
####################################################################################### 
##                                                                                   ##
##   Extension Points                                                                ## 
##                                                                                   ##
####################################################################################### 
####################################################################################### 
-->

<!--
####################################################################################### 
#    Property Pages                                                                   # 
####################################################################################### 
-->
	<extension point="org.eclipse.ui.propertyPages">
        
		<!-- ############################### -->
		<!-- Arduino Properties Page -->
		<!-- ############################### -->
		<page
            class="it.baeyens.arduino.ui.ArduinoPropertyPage"
            id="it.baeyens.arduino.eclipse.propertypage.ArduinoProperty"
            name="Arduino"
            category="it.baeyens.avreclipse.propertypage.Pagemain" >
			<filter
				name="projectNature"
				value="it.baeyens.arduinonature">
			</filter>            
			<enabledWhen>
				<or>
					<instanceof value="org.eclipse.core.resources.IProject"/>
					<instanceof value="org.eclipse.cdt.core.model.ICProject"/>
				</or>          
			</enabledWhen>
        </page>    
		
	</extension>
	

<!--
####################################################################################### 
#    Wizard Pages                                                                     # 
####################################################################################### 
-->

	<extension point="org.eclipse.ui.newWizards">
		<category 
			id="it.baeyens.arduino.eclipse.newWizards"
			name="Arduino">
		</category>
		<wizard
			id="it.baeyens.arduino.eclipse.NewArduinoSketchWizard"
			category="it.baeyens.arduino.eclipse.newWizards"
	        class="it.baeyens.arduino.ui.NewArduinoSketchWizard"
	        name="New Arduino sketch"
	        icon="icons/arduino.png"
	        finalPerspective ="org.eclipse.cdt.ui.CPerspective"
	        project="true">
         <description>
            Create a new Arduino sketch and import arduino core code if needed.
         </description>	        
		</wizard>
	</extension>

 <extension point="org.eclipse.ui.importWizards">
 		<category 
			id="it.baeyens.arduino.eclipse.importWizards"
			name="Arduino">
		</category>
      <wizard 
         id="it.baeyens.arduino.Import_Arduino_Library" 
         name="Import a arduino library in the current project" 
         class="it.baeyens.arduino.tools.Import_Arduino_Library" 
         icon="icons/arduino.png"
         category="it.baeyens.arduino.eclipse.importWizards">        
         <description> 
            Use this import to import arduino library code or any other code in a subfolder
         </description> 
         <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard> 
   </extension>


<!--
####################################################################################### 
#    Preference Pages                                                                 # 
####################################################################################### 
-->
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Arduino"
			category="it.baeyens.avreclipse.preferences.PreferencePage"
			class="it.baeyens.arduino.ui.ArduinoPreferencePage"
			id="it.baeyens.arduino.eclipse.ArduinoPreferencePage">
		</page>

	</extension>   
   
</plugin>

		
		