@CHARSET "ISO-8859-1";

/* General Rules */
body {
	font-family: sans-serif, helvetica, arial;
	font-size: .8em;
}
#scream {
	color: red;
	font-size: 3em;
}
h1 {
	color: #336;
	font-size: 1.5em;
}
h2 {
	color: #000;
	font-size: 1.4em;
}
h4 {
	color: #336;
	font-size: 1em;
}
h5 {
	color: red;
	font-size: 1.4em;
}
a { text-decoration: none; }
a:link { color: #636; }
a:visited { color: #636; }
a:hover { color: #666; }
a:active { color: #666; }

code {
	font-size: 1.25em;
}
pre {
	font-size: 1.25em;
}
/* Header Rules */
#header {
	background-image: url(header_bg.gif);
	background-position: top left;
	background-repeat: repeat-x;
}
#searchbar {
	background-image: url(searchbar_bg.gif);
	background-position: top left;
	background-repeat: repeat-x;
}
#searchbar input {
	background-color: #ffffff;
	border-color: #56548D;
	border-style: solid;
	color: #333333;
	font-size: 0.9em;
}
#headernav {
	font-size: 0.8em;
}
#headernav li {
	border-color: #ccc;
	border-style: solid;
	list-style: none;
}
#headernav a, #headernav a:link, #headernav a:visited {
	color: #ccc;
}
#headernav a:hover, #headernav a:active {
	color: #fff;
}

/* Left Column Rules */
#leftcol {
    background-color: #ffffff;
    color: #fff;
}

#leftnav li {
	border-color: #7A79A7;
	border-style: solid;
}
#leftnav a, 
#leftnav a:link, 
#leftnav a:visited, 
#leftnav a:hover, 
#leftnav a:active {
	background-color: #595791;
	background-image: url(leftnav_bullet.gif);
	background-position: 3% 50%;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 0.9em;
	text-decoration: none;
}
#leftnav a:hover, 
#leftnav a:active {
	background-color: #8583B2;
	background-image: url(leftnav_bullet_hover.gif);
	color: #292556;
}
#leftnav a.nolink, 
#leftnav a.nolink:link, 
#leftnav a.nolink:visited, 
#leftnav a.nolink:hover, 
#leftnav a.nolink:active {
	background-color: #595791;
	background-image: url(leftnav_bullet.gif);
	background-position: 3% 50%;
	background-repeat: no-repeat;
	color: #999999;
	font-size: 0.9em;
	text-decoration: none;
}

#leftnav li.separator {
	border-color: #7A79A7;
	background-color: #7A79A7;
	border-style: solid;
}
#leftnav a.separator, 
#leftnav a.separator:link, 
#leftnav a.separator:visited, 
#leftnav a.separator:hover, 
#leftnav a.separator:active {
	background-color: #7A79A7;
	background-image: none;
	color: #fff;
	font-size: 0.9em;
	text-decoration: none;
}

/* Top Navigation Rules */
#topnav {
	background-image: url(topnav_tabbg.gif);
	background-repeat: repeat-x;
	color: #999;
	font-size: 0.9em;
}

#topnav li {
	background-image: url(topnav_tabbg.gif);
	background-repeat: repeat-x;
	list-style: none;
}
#topnav li.tabstart {
	background-image: url(topnav_tabstart_first.gif);
	background-repeat: no-repeat;
}
#topnav li.tabstartselected {
	background-image: url(topnav_tabstart_selected_inline.gif);
	background-repeat: no-repeat;
}
#topnav li.tabseparator {
	background-image: url(topnav_tabseparator.gif);
	background-repeat: no-repeat;
}
#topnav li.tabseparatorselected {
	background-image: url(topnav_tabseparator_selected.gif);
	background-repeat: no-repeat;
}

#topnav a, #topnav a:link, #topnav a:visited, #topnav a:active {
	background-image: url(topnav_tabbg.gif);
	background-color: transparent;
	background-repeat: repeat-x;
	color: #333;
	font-weight: bold;
	text-decoration: none;
}

#topnav a.tabselected, #topnav a.tabselected:link, #topnav a.tabselected:visited, #topnav a.tabselected:hover, #topnav a.tabselected:active {
	background-image: url(topnav_tabbg_selected.gif);
	background-color: transparent;
	background-repeat: repeat-x;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

#topnav a:hover, #topnav a:active {
	color: #000;
}

#topnavsep {
	background-color: #7A79A7;
}


/* Main Content Area Rules */
#maincontent a {
	font-weight: bold;
}

/* Middle Column Rules */
.midlist {
	margin: 10px 0 10px 25px;
	list-style-image: url(arrow.gif);
}
#midcolumn ul {
	list-style-image: url(arrow.gif);
}
.homeitem {
	border-color: #669;
	border-style: solid;
	font-size: 0.9em;
}
.homeitem h3 {
	background-image: url(header_bg.gif);
	background-position: top left;
	background-repeat: repeat-x;
	background-color: #669;
	color: #fff;
	font-size: 1.1em;
}
.homeitem li {
	list-style-image: url(arrow.gif);
	border-style: dashed;
	border-color: #669;
	border-width: 0 0 1px 0;
}

.homeitem3col {
	border-color: #669;
	border-style: solid;
	font-size: 0.9em;
}
.homeitem3col h3 {
	background-image: url(header_bg.gif);
	background-position: top left;
	background-repeat: repeat-x;
	background-color: #669;
	color: #fff;
	font-size: 1.1em;
}
.homeitem3col li {
	list-style-image: url(arrow.gif);
	border-style: dashed;
	border-color: #669;
	border-width: 0 0 1px 0;
}




/* Right Column Rules */
.sideitem {
	border-color: #333;
	color: #000;
	border-style: dotted;
	font-size: 0.8em;
}
.sideitem h6 {
	background-color: #ccc;
	color: #333;
	font-size: 1.1em;
	font-weight: bold;
}
.sideitem ul {
	list-style-image: url(bullet.gif);
}
.sideitem li {
}



/* Footer Rules */
#footer {
	background-color: #336;
	border-color: #99c;
	border-style: solid;
	color: #fff;
	font-size: 0.9em;
	text-align: right;
}
#footernav {
	list-style: none;
}
#footernav li {
	border-color: #ccc;
	border-style: solid;
}
#footernav a, #footernav a:link, #footernav a:visited {
	color: #ccc;
}
#footernav a:hover, #footernav a:active {
	color: #fff;
}

.poll_start {
	background-image: url(poll_start.jpg);
	background-repeat: no-repeat;
}
.poll_bar {
	background-image: url(poll_bar.jpg);
	background-repeat: repeat-x;
}
.poll_end {
	background-image: url(poll_end.jpg);
	background-repeat: no-repeat;
}

.boxed {
  border: 1px solid green ;
}