<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="it.baeyens.arduino.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="it.baeyens.arduino.application.Perspective"
            icon="icons/logo_16.png"
            id="it.baeyens.arduino.application.perspective"
            name="Arduino">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Eclipse Arduino">
         <property
               name="windowImages"
               value="icons/logo_16.png,icons/logo_32.png,icons/logo_48.png,icons/logo_64.png,icons/logo_128.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="Eclipse IDE for Arduino Developers&#x0D;&#x0A;&#x0D;&#x0A;Info: http://eclipse.baeyens.it/&#x0D;&#x0A;Source: https://github.com/jantje/arduino-eclipse-plugin&#x0D;&#x0A;Binaries: http://eclipse.baeyens.it/download.php&#x0D;&#x0A;&#x0D;&#x0A;Contributors: jantje, brodykenrick, wimjongman, neuweiler, &#x0D;&#x0A;darcade, amorellgarcia&#x0D;&#x0A;&#x0D;&#x0A;https://github.com/jantje/arduino-eclipse-plugin/graphs/contributors">
         </property>
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupMessageRect"
               value="400,370,441,20">
         </property>
         <property
               name="startupProgressRect"
               value="97,370,100,4">
         </property>
         <property
               name="aboutImage"
               value="icons/logo_128.png">
         </property>
         <property
               name="introBrandingImage"
               value="product:intro-eclipse.png">
         </property>
         <property
               name="introTitle"
               value="Welcome to Eclipse for RCP and RAP Developers">
         </property>
         <property
               name="introBrandingImageText"
               value="Eclipse Project">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.platform/images/">
         </property>
         <property
               name="appName"
               value="Eclipse Arduino">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="it.baeyens.arduino.application.perspective">
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
         <view
               id="it.baeyens.arduino.monitor.views.SerialMonitor"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="it.baeyens.arduino.monitor.views.ScopeView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
