<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Arduino"
            id="it.baeyens.arduino.monitor">
      </category>
      <view
            name="Serial monotor view"
            icon="icons/sample.gif"
            category="it.baeyens.arduino.monitor"
            class="it.baeyens.arduino.monitor.views.SerialMonitor"
            id="it.baeyens.arduino.monitor.views.SerialMonitor">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="it.baeyens.arduino.monitor.views.SerialMonitor">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
