<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="it.baeyens.arduino.monitor" name="A serial monitor" schema="schema/it.baeyens.arduino.monitor.exsd"/>
<extension point="org.eclipse.ui.views">
	<category
            name="Arduino"
            id="it.baeyens.arduino.monitor">
      </category>
      <view id="it.baeyens.arduino.monitor.views.SerialMonitor"
            category="it.baeyens.arduino.monitor"
            class="it.baeyens.arduino.monitor.views.SerialMonitor"
            icon="icons/arduino.png"
            name="Serial monitor view">
      </view>
      <view
            category="it.baeyens.arduino.monitor"
            class="it.baeyens.arduino.monitor.views.ScopeView"
            icon="icons/Oscilloscope.png"
            id="it.baeyens.arduino.monitor.views.ScopeView"
            name="Scope"
            restorable="true">
      </view>

	</extension>

</plugin>
